<a href="https://colab.research.google.com/github/drianc/TCC-PUC-MINAS/blob/main/TCC_Ciencia_Dados_PUC_Minas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Nova seção

## Introdução
PUC Minas - Pontifícia Universidade Católica de Minas Gerais

Pós-Graduação em Ciência de Dados e Big Data

Trabalho de Conclusão de Curso

Notebook desenvolvido no ambiente GOOBLE COLAB (colab.research.google.com)

In [21]:
#import das bibliotecas
import pandas as pd
import numpy as np

In [87]:
df_Mort_2019 = pd.read_csv('Mortalidade_Geral_2019_menor.csv',sep=';')
df_Mort_2019.head()

   ORIGEM  TIPOBITO   DTOBITO  ...  FONTESINF  ALTCAUSA  CONTADOR
0       1         2  21012019  ...        NaN       NaN         1
1       1         2  28012019  ...        NaN       NaN         2
2       1         2  27012019  ...        NaN       NaN         4
3       1         2  12012019  ...        NaN       NaN         5
4       1         2  10012019  ...        NaN       NaN         6

[5 rows x 87 columns]

In [88]:
df_Mort_2019 = pd.read_csv('Mortalidade_Geral_2019_menor.csv',sep=';')
df_Mort_2019_alt = df_Mort_2019.drop(columns=['ORIGEM','TIPOBITO','ESC','ESC2010','SERIESCFAL','IDADEMAE','ESCMAE','ESCMAE2010','SERIESCMAE','OCUPMAE','QTDFILVIVO','QTDFILMORT','GRAVIDEZ','SEMAGESTAC','GESTACAO',
'OBITOPARTO','PESO','TPMORTEOCO','OBITOGRAV','OBITOPUERP','ASSISTMED','EXAME','CIRURGIA','CB_PRE','COMUNSVOIM','CIRCOBITO','ACIDTRAB','FONTE','NUMEROLOTE','TPPOS','DTINVESTIG','ATESTANTE',
'STCODIFICA','CODIFICADO','VERSAOSIST','VERSAOSCB','FONTEINV','DTRECEBIM','ATESTADO','DTRECORIGA','CAUSAMAT','ESCMAEAGR1','ESCFALAGR1','STDOEPIDEM','STDONOVA','DIFDATA','NUDIASOBCO','NUDIASOBIN','DTCADINV',
'TPOBITOCOR','HORAOBITO','IDADE','OCUP','DTCADASTRO','CAUSABAS_O','DTATESTADO','ALTCAUSA','DTCONINV','FONTES','TPRESGINFO','TPNIVELINV','NUDIASINF','DTCADINF','MORTEPARTO','DTCONCASO','FONTESINF','CONTADOR','PARTO','NECROPSIA','ESTABDESCR','CODMUNNATU','NATURAL',
'ESTCIV','CODESTAB','CODMUNRES'])

df_Mort_2019_alt.head()
df_Mort_2019_alt = df_Mort_2019_alt.rename({'CODMUNOCOR': 'COD_MUNICIPIO_OCOR'}, axis = 1)
df_Mort_2019_alt.head()

    DTOBITO    DTNASC  SEXO  RACACOR  ...  LINHAC  LINHAD LINHAII CAUSABAS
0  21012019  18021961     1      2.0  ...   *I10X   *N189     NaN     I120
1  28012019   3071938     2      NaN  ...     NaN     NaN     NaN     A419
2  27012019  15111945     2      4.0  ...   *E039     NaN     NaN     E039
3  12012019   4111971     1      4.0  ...     NaN     NaN     NaN     R220
4  10012019  12101946     2      4.0  ...     NaN     NaN     NaN     C159

[5 rows x 12 columns]

In [89]:
# transforma string em date
# checking the type
print(df_Mort_2019_alt.dtypes)

DTOBITO                 int64
DTNASC                  int64
SEXO                    int64
RACACOR               float64
LOCOCOR                 int64
COD_MUNICIPIO_OCOR      int64
LINHAA                 object
LINHAB                 object
LINHAC                 object
LINHAD                 object
LINHAII                object
CAUSABAS               object
dtype: object

In [90]:
# converting the integers to datetime format
df_Mort_2019_alt['DTOBITO'] = pd.to_datetime(df_Mort_2019_alt['DTOBITO'])
df_Mort_2019_alt['DTNASC'] = pd.to_datetime(df_Mort_2019_alt['DTNASC'])  
df_Mort_2019_alt.rename(columns={'CAUSABAS':'SUBCAT'}, inplace=True)

#alterar o código municipio de int64 para string
df_Mort_2019_alt['COD_MUNICIPIO_OCOR'] = df_Mort_2019_alt['COD_MUNICIPIO_OCOR'].astype(str)

#somente mortes em hospitais LOCOCOR = 1


#Types
print(df_Mort_2019_alt.dtypes)

# printing dataframe
print(df_Mort_2019_alt)

DTOBITO               datetime64[ns]
DTNASC                datetime64[ns]
SEXO                           int64
RACACOR                      float64
LOCOCOR                        int64
COD_MUNICIPIO_OCOR            object
LINHAA                        object
LINHAB                        object
LINHAC                        object
LINHAD                        object
LINHAII                       object
SUBCAT                        object
dtype: object
                         DTOBITO  ... SUBCAT
0  1970-01-01 00:00:00.021012019  ...   I120
1  1970-01-01 00:00:00.028012019  ...   A419
2  1970-01-01 00:00:00.027012019  ...   E039
3  1970-01-01 00:00:00.012012019  ...   R220
4  1970-01-01 00:00:00.010012019  ...   C159
..                           ...  ...    ...
94 1970-01-01 00:00:00.005022019  ...   J440
95 1970-01-01 00:00:00.030012019  ...    R98
96 1970-01-01 00:00:00.016022019  ...   C788
97 1970-01-01 00:00:00.014022019  ...    R99
98 1970-01-01 00:00:00.009022019  ...   E145

[99 rows x 12 columns]

In [79]:
##Análise arquivos tipos das columans da tabela
df_Mort_2019_alt.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12 entries, 0 to 11
Data columns (total 12 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   DTOBITO             4 non-null      datetime64[ns]
 1   DTNASC              4 non-null      datetime64[ns]
 2   SEXO                4 non-null      float64
 3   RACACOR             3 non-null      float64
 4   LOCOCOR             4 non-null      float64
 5   COD_MUNICIPIO_OCOR  12 non-null     object
 6   LINHAA              4 non-null      object
 7   LINHAB              3 non-null      object
 8   LINHAC              2 non-null      object
 9   LINHAD              1 non-null      object
 10  LINHAII             0 non-null      float64
 11  SUBCAT              4 non-null      object
dtypes: datetime64[ns](2), float64(4), object(6)
memory usage: 1.2+ KB

In [27]:
#Análise arquivos contagem dos dados não nulos
df_Mort_2019_alt.count()

DTOBITO               11
DTNASC                11
SEXO                  11
RACACOR               10
LOCOCOR               11
COD_MUNICIPIO_OCOR    11
LINHAA                11
LINHAB                10
LINHAC                 5
LINHAD                 2
LINHAII                3
SUBCAT                11
dtype: int64

In [28]:
#Análise arquivos dados únicos
df_Mort_2019_alt.nunique()

DTOBITO                7
DTNASC                11
SEXO                   2
RACACOR                3
LOCOCOR                3
COD_MUNICIPIO_OCOR     6
LINHAA                10
LINHAB                10
LINHAC                 4
LINHAD                 2
LINHAII                3
SUBCAT                11
dtype: int64

In [29]:
#Análise arquivos dados nulos
df_Mort_2019_alt.isnull().sum()

DTOBITO               0
DTNASC                0
SEXO                  0
RACACOR               1
LOCOCOR               0
COD_MUNICIPIO_OCOR    0
LINHAA                0
LINHAB                1
LINHAC                6
LINHAD                9
LINHAII               8
SUBCAT                0
dtype: int64

In [13]:
#http://www2.datasus.gov.br/cid10/V2008/cid10.htm

df_cid = pd.read_csv('CID-10-SUBCATEGORIAS.csv',sep=';',encoding = 'ISO-8859-1')
df_cid.head()

  SUBCAT CLASSIF  ... REFER EXCLUIDOS
0   A000     NaN  ...   NaN       NaN
1   A001     NaN  ...   NaN       NaN
2   A009     NaN  ...   NaN       NaN
3   A010     NaN  ...   NaN       NaN
4   A011     NaN  ...   NaN       NaN

[5 rows x 8 columns]

In [49]:
df_cid_alt = df_cid.drop(columns=['CLASSIF','RESTRSEXO','CAUSAOBITO','DESCRABREV','REFER','EXCLUIDOS'])
df_cid_alt.head()

  SUBCAT                                          DESCRICAO
0   A000  Cólera devida a Vibrio cholerae 01, biótipo ch...
1   A001  Cólera devida a Vibrio cholerae 01, biótipo El...
2   A009                            Cólera não especificada
3   A010                                      Febre tifóide
4   A011                                Febre paratifóide A

In [23]:
df_cid_alt.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12451 entries, 0 to 12450
Data columns (total 2 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   SUBCAT     12451 non-null  object
 1   DESCRICAO  12451 non-null  object
dtypes: object(2)
memory usage: 194.7+ KB

In [91]:
#Merge dos obitos e da causa base da morte
df_Mort_2019_alt_2 = pd.merge(df_Mort_2019_alt,df_cid_alt, on ='SUBCAT')
df_Mort_2019_alt_2

                         DTOBITO  ...                                          DESCRICAO
0  1970-01-01 00:00:00.021012019  ...  Doença renal hipertensiva com insuficiência renal
1  1970-01-01 00:00:00.020022019  ...  Doença renal hipertensiva com insuficiência renal
2  1970-01-01 00:00:00.028012019  ...                        Septicemia não especificada
3  1970-01-01 00:00:00.013012019  ...                        Septicemia não especificada
4  1970-01-01 00:00:00.015022019  ...                        Septicemia não especificada
..                           ...  ...                                                ...
94 1970-01-01 00:00:00.020022019  ...                   Hipertensão essencial (primária)
95 1970-01-01 00:00:00.005022019  ...  Doença pulmonar obstrutiva crônica com infecçã...
96 1970-01-01 00:00:00.030012019  ...                              Morte sem assistência
97 1970-01-01 00:00:00.016022019  ...  Neoplasia maligna secundária de outros órgãos ...
98 1970-01-01 00:00:00.009022019  ...  Diabetes mellitus não especificado - com compl...

[99 rows x 13 columns]

In [117]:
#busca a tabelas tabelas do ibge
df_ibge = pd.read_html('https://www.ibge.gov.br/explica/codigos-dos-municipios.php#MG')

#buscar apenas Estado de Minas Gerais
df_ibge_mg = df_ibge[24]
df_ibge_mg.to_csv('ibge_mg.csv')
df_ibge_mg

    Municípios de Santa Catarina  Códigos
0                  Abdon Batista  4200051
1                   Abelardo Luz  4200101
2                     Agrolândia  4200200
3                     Agronômica  4200309
4                      Água Doce  4200408
..                           ...      ...
290                    Witmarsum  4219408
291                      Xanxerê  4219507
292                    Xavantina  4219606
293                        Xaxim  4219705
294                       Zortéa  4219853

[295 rows x 2 columns]

In [118]:
print(df_ibge_mg.dtypes)

Municípios de Santa Catarina    object
Códigos                          int64
dtype: object

In [119]:
df_ibge_mg['Códigos'] = df_ibge_mg['Códigos'].astype(str)
df_ibge_mg["COD_MUNICIPIO_OCOR"] = df_ibge_mg["Códigos"].str[0:6]

df_ibge_mg = df_ibge_mg.drop(columns=['Códigos'])
df_ibge_mg['COD_MUNICIPIO_OCOR'] = df_ibge_mg['COD_MUNICIPIO_OCOR'].astype(str)
df_ibge_mg

print(df_ibge_mg.dtypes)

df_ibge_mg

print(df_ibge_mg.dtypes)

Municípios de Santa Catarina    object
COD_MUNICIPIO_OCOR              object
dtype: object
Municípios de Santa Catarina    object
COD_MUNICIPIO_OCOR              object
dtype: object

In [121]:
# Realizar o merge Dataframe df_Mort_2019_alt e df_cid_alt
df_morte_2019_MG = pd.merge(df_Mort_2019_alt, df_ibge_mg, on='COD_MUNICIPIO_OCOR')

#DataFrame meger 
df_morte_2019_MG

                         DTOBITO  ... Municípios de Santa Catarina
0  1970-01-01 00:00:00.024012019  ...                    Urussanga
1  1970-01-01 00:00:00.028012019  ...                    Urussanga
2  1970-01-01 00:00:00.027012019  ...                     Criciúma
3  1970-01-01 00:00:00.025012019  ...                     Criciúma
4  1970-01-01 00:00:00.027012019  ...                     Criciúma
5  1970-01-01 00:00:00.029012019  ...                     Criciúma
6  1970-01-01 00:00:00.030012019  ...                     Criciúma
7  1970-01-01 00:00:00.027012019  ...                    Araranguá
8  1970-01-01 00:00:00.025012019  ...                  Nova Veneza
9  1970-01-01 00:00:00.025012019  ...                        Içara
10 1970-01-01 00:00:00.025012019  ...                        Içara

[11 rows x 13 columns]