<a href="https://colab.research.google.com/github/drianc/TCC-PUC-MINAS/blob/main/TCC_Ciencia_Dados_PUC_Minas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Nova seção

## Introdução
PUC Minas - Pontifícia Universidade Católica de Minas Gerais

Pós-Graduação em Ciência de Dados e Big Data

Trabalho de Conclusão de Curso

Notebook desenvolvido no ambiente GOOBLE COLAB (colab.research.google.com)

In [1]:
#import das bibliotecas
import pandas as pd
import datetime as dt

In [2]:
df_Mort_2019 = pd.read_csv('Mortalidade_Geral_2019_ALT_2.csv',sep=';',quoting=3)

df_Mort_2019.iloc[:,0] = df_Mort_2019.iloc[:,0].str.strip('"')
df_Mort_2019.iloc[:,-1] = df_Mort_2019.iloc[:,-1].str.strip('"')
#strip " from columns names 
df_Mort_2019.columns = df_Mort_2019.columns.str.strip('"')

df_Mort_2019.head()

  ORIGEM TIPOBITO     DTOBITO HORAOBITO  ... DTCONCASO FONTESINF ALTCAUSA CONTADOR
0      1      "2"  "21012019"    "0540"  ...       NaN       NaN      NaN        1
1      1      "2"  "28012019"    "1630"  ...       NaN       NaN      NaN        2
2      1      "2"  "27012019"    "2320"  ...       NaN       NaN      NaN        4
3      1      "2"  "12012019"    "2300"  ...       NaN       NaN      NaN        5
4      1      "2"  "10012019"    "1726"  ...       NaN       NaN      NaN        6

[5 rows x 87 columns]

In [3]:
df_Mort_2019_alt = df_Mort_2019.drop(columns=['ORIGEM','TIPOBITO','ESC','ESC2010','SERIESCFAL','IDADEMAE','ESCMAE','ESCMAE2010','SERIESCMAE','OCUPMAE','QTDFILVIVO','QTDFILMORT','GRAVIDEZ','SEMAGESTAC','GESTACAO',
'OBITOPARTO','PESO','TPMORTEOCO','OBITOGRAV','OBITOPUERP','ASSISTMED','EXAME','CIRURGIA','CB_PRE','COMUNSVOIM','CIRCOBITO','ACIDTRAB','FONTE','NUMEROLOTE','TPPOS','DTINVESTIG','ATESTANTE',
'STCODIFICA','CODIFICADO','VERSAOSIST','VERSAOSCB','FONTEINV','DTRECEBIM','ATESTADO','DTRECORIGA','CAUSAMAT','ESCMAEAGR1','ESCFALAGR1','STDOEPIDEM','STDONOVA','DIFDATA','NUDIASOBCO','NUDIASOBIN','DTCADINV',
'TPOBITOCOR','HORAOBITO','IDADE','OCUP','DTCADASTRO','CAUSABAS_O','DTATESTADO','ALTCAUSA','DTCONINV','FONTES','TPRESGINFO','TPNIVELINV','NUDIASINF','DTCADINF','MORTEPARTO','DTCONCASO','FONTESINF','CONTADOR','PARTO','NECROPSIA','ESTABDESCR','CODMUNNATU','NATURAL',
'ESTCIV','CODESTAB','CODMUNRES'])

#df_Mort_2019_alt['DTNASC'] = df_Mort_2019_alt['DTNASC'].astype(str)
#df_Mort_2019_alt['DTOBITO'] = df_Mort_2019_alt['DTOBITO'].astype(str)

df_Mort_2019_alt = df_Mort_2019_alt.rename({'CODMUNOCOR': 'COD_MUNICIPIO_OCOR'}, axis = 1)

df_Mort_2019_alt.DTOBITO= df_Mort_2019_alt.DTOBITO.str.replace('"','')
df_Mort_2019_alt.DTNASC = df_Mort_2019_alt.DTNASC.str.replace('"','')
df_Mort_2019_alt.SEXO = df_Mort_2019_alt.SEXO.str.replace('"','')
df_Mort_2019_alt.RACACOR = df_Mort_2019_alt.RACACOR.str.replace('"','')
df_Mort_2019_alt.LOCOCOR = df_Mort_2019_alt.LOCOCOR.str.replace('"','')
df_Mort_2019_alt.COD_MUNICIPIO_OCOR = df_Mort_2019_alt.COD_MUNICIPIO_OCOR.str.replace('"','')
df_Mort_2019_alt.LINHAA = df_Mort_2019_alt.LINHAA.str.replace('"','')
df_Mort_2019_alt.LINHAB = df_Mort_2019_alt.LINHAB.str.replace('"','')
df_Mort_2019_alt.LINHAC = df_Mort_2019_alt.LINHAC.str.replace('"','')
df_Mort_2019_alt.LINHAD = df_Mort_2019_alt.LINHAD.str.replace('"','')
df_Mort_2019_alt.LINHAII = df_Mort_2019_alt.LINHAII.str.replace('"','')
df_Mort_2019_alt.CAUSABAS = df_Mort_2019_alt.CAUSABAS.str.replace('"','')



df_Mort_2019_alt.head()

    DTOBITO    DTNASC SEXO RACACOR  ... LINHAC LINHAD LINHAII CAUSABAS
0  21012019  18021961    1       2  ...  *I10X  *N189     NaN     I120
1  28012019  03071938    2     NaN  ...    NaN    NaN     NaN     A419
2  27012019  15111945    2       4  ...  *E039    NaN     NaN     E039
3  12012019  04111971    1       4  ...    NaN    NaN     NaN     R220
4  10012019  12101946    2       4  ...    NaN    NaN     NaN     C159

[5 rows x 12 columns]

In [4]:
#gerar arquivo
df_Mort_2019_alt.to_csv('base_dados.csv',sep=';',encoding = 'ISO-8859-1')

In [5]:
# transforma string em date
# checking the type
print(df_Mort_2019_alt.dtypes)

DTOBITO               object
DTNASC                object
SEXO                  object
RACACOR               object
LOCOCOR               object
COD_MUNICIPIO_OCOR    object
LINHAA                object
LINHAB                object
LINHAC                object
LINHAD                object
LINHAII               object
CAUSABAS              object
dtype: object

In [6]:
print(df_Mort_2019_alt.dtypes)

DTOBITO               object
DTNASC                object
SEXO                  object
RACACOR               object
LOCOCOR               object
COD_MUNICIPIO_OCOR    object
LINHAA                object
LINHAB                object
LINHAC                object
LINHAD                object
LINHAII               object
CAUSABAS              object
dtype: object

In [7]:
print(df_Mort_2019_alt.dtypes)

DTOBITO               object
DTNASC                object
SEXO                  object
RACACOR               object
LOCOCOR               object
COD_MUNICIPIO_OCOR    object
LINHAA                object
LINHAB                object
LINHAC                object
LINHAD                object
LINHAII               object
CAUSABAS              object
dtype: object

In [9]:
df_Mort_2019_alt.rename(columns={'CAUSABAS':'SUBCAT'}, inplace=True)

#alterar o código municipio de int64 para string
#df_Mort_2019_alt['COD_MUNICIPIO_OCOR'] = df_Mort_2019_alt['COD_MUNICIPIO_OCOR'].astype(str)

#somente mortes em hospitais LOCOCOR = 1

# printing dataframe
df_Mort_2019_alt.head()

    DTOBITO    DTNASC SEXO RACACOR LOCOCOR  ... LINHAB LINHAC LINHAD LINHAII SUBCAT
0  21012019  18021961    1       2       1  ...  *J81X  *I10X  *N189     NaN   I120
1  28012019  03071938    2     NaN       1  ...    NaN    NaN    NaN     NaN   A419
2  27012019  15111945    2       4       1  ...  *I10X  *E039    NaN     NaN   E039
3  12012019  04111971    1       4       1  ...  *R220    NaN    NaN     NaN   R220
4  10012019  12101946    2       4       1  ...  *C159    NaN    NaN     NaN   C159

[5 rows x 12 columns]

In [10]:
##Análise arquivos tipos das columans da tabela
df_Mort_2019_alt.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 28 entries, 0 to 27
Data columns (total 12 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   DTOBITO             28 non-null     object
 1   DTNASC              28 non-null     object
 2   SEXO                28 non-null     object
 3   RACACOR             27 non-null     object
 4   LOCOCOR             28 non-null     object
 5   COD_MUNICIPIO_OCOR  28 non-null     object
 6   LINHAA              28 non-null     object
 7   LINHAB              23 non-null     object
 8   LINHAC              8 non-null      object
 9   LINHAD              3 non-null      object
 10  LINHAII             4 non-null      object
 11  SUBCAT              28 non-null     object
dtypes: object(12)
memory usage: 2.8+ KB

In [11]:
#Análise arquivos contagem dos dados não nulos
df_Mort_2019_alt.count()

DTOBITO               28
DTNASC                28
SEXO                  28
RACACOR               27
LOCOCOR               28
COD_MUNICIPIO_OCOR    28
LINHAA                28
LINHAB                23
LINHAC                 8
LINHAD                 3
LINHAII                4
SUBCAT                28
dtype: int64

In [12]:
#Análise arquivos dados únicos
df_Mort_2019_alt.nunique()

DTOBITO               17
DTNASC                28
SEXO                   2
RACACOR                3
LOCOCOR                3
COD_MUNICIPIO_OCOR    13
LINHAA                18
LINHAB                20
LINHAC                 7
LINHAD                 3
LINHAII                4
SUBCAT                25
dtype: int64

In [13]:
#Análise arquivos dados nulos
df_Mort_2019_alt.isnull().sum()

DTOBITO                0
DTNASC                 0
SEXO                   0
RACACOR                1
LOCOCOR                0
COD_MUNICIPIO_OCOR     0
LINHAA                 0
LINHAB                 5
LINHAC                20
LINHAD                25
LINHAII               24
SUBCAT                 0
dtype: int64

In [14]:
#http://www2.datasus.gov.br/cid10/V2008/cid10.htm

df_cid = pd.read_csv('CID-10-SUBCATEGORIAS.csv',sep=';',encoding = 'ISO-8859-1')
df_cid.head()

  SUBCAT CLASSIF  ... REFER EXCLUIDOS
0   A000     NaN  ...   NaN       NaN
1   A001     NaN  ...   NaN       NaN
2   A009     NaN  ...   NaN       NaN
3   A010     NaN  ...   NaN       NaN
4   A011     NaN  ...   NaN       NaN

[5 rows x 8 columns]

In [19]:
df_cid_alt = df_cid.drop(columns=['CLASSIF','RESTRSEXO','CAUSAOBITO','DESCRABREV','REFER','EXCLUIDOS'])
df_cid_alt.head()

  SUBCAT                                          DESCRICAO
0   A000  Cólera devida a Vibrio cholerae 01, biótipo ch...
1   A001  Cólera devida a Vibrio cholerae 01, biótipo El...
2   A009                            Cólera não especificada
3   A010                                      Febre tifóide
4   A011                                Febre paratifóide A

In [20]:
df_cid_alt.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12451 entries, 0 to 12450
Data columns (total 2 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   SUBCAT     12451 non-null  object
 1   DESCRICAO  12451 non-null  object
dtypes: object(2)
memory usage: 194.7+ KB

In [21]:
#Merge dos obitos e da causa base da morte
df_Mort_2019_alt_2 = pd.merge(df_Mort_2019_alt,df_cid_alt, on ='SUBCAT')
df_Mort_2019_alt_2.head()

    DTOBITO    DTNASC  ... SUBCAT                                          DESCRICAO
0  21012019  18021961  ...   I120  Doença renal hipertensiva com insuficiência renal
1  28012019  03071938  ...   A419                        Septicemia não especificada
2  13012019  20071936  ...   A419                        Septicemia não especificada
3  15022019  15032018  ...   A419                        Septicemia não especificada
4  27012019  15111945  ...   E039                   Hipotireoidismo não especificado

[5 rows x 13 columns]

In [23]:
#busca a tabelas tabelas do ibge
#df_ibge = pd.read_html('https://www.ibge.gov.br/explica/codigos-dos-municipios.php#MG')
df_ibge = pd.read_csv('tabela_ibge.csv',sep=';',encoding = 'ISO-8859-1')


#buscar apenas Estado de Minas Gerais
#df_ibge_mg = df_ibge[24]
#df_ibge_mg.to_csv('ibge_mg.csv')
df_ibge.head()

   uf  ... cd_municipio_base
0  11  ...            110148
1  11  ...            110094
2  11  ...            110009
3  11  ...            110100
4  11  ...            110010

[5 rows x 6 columns]

In [24]:
print(df_ibge.dtypes)
df_ibge.rename(columns={'cd_municipio_base':'COD_MUNICIPIO_OCOR'}, inplace=True)

print(df_ibge.dtypes)

uf                     int64
sgl_uf                object
nm_uf                 object
cd_municipio_compl     int64
nm_municipio          object
cd_municipio_base      int64
dtype: object
uf                     int64
sgl_uf                object
nm_uf                 object
cd_municipio_compl     int64
nm_municipio          object
COD_MUNICIPIO_OCOR     int64
dtype: object

In [25]:
df_Mort_2019_alt_2['COD_MUNICIPIO_OCOR'] = df_Mort_2019_alt_2['COD_MUNICIPIO_OCOR'].astype(str)
df_ibge['COD_MUNICIPIO_OCOR'] = df_ibge['COD_MUNICIPIO_OCOR'].astype(str)
# Realizar o merge Dataframe df_Mort_2019_alt e df_cid_alt
df_morte_2019_junto = pd.merge(df_Mort_2019_alt_2, df_ibge, on=['COD_MUNICIPIO_OCOR'])

df_morte_2019_junto.head()

    DTOBITO  ...                                       nm_municipio
0  21012019  ...  Catu                                          ...
1  28012019  ...  Catu                                          ...
2  27012019  ...  Catu                                          ...
3  12012019  ...  Catu                                          ...
4  10012019  ...  Catu                                          ...

[5 rows x 18 columns]

In [26]:

df_morte_2019_junto.LINHAA = df_morte_2019_junto.LINHAA.str.replace('*','/')
df_morte_2019_junto.LINHAB = df_morte_2019_junto.LINHAB.str.replace('*','/')
df_morte_2019_junto.LINHAC = df_morte_2019_junto.LINHAC.str.replace('*','/')
df_morte_2019_junto.LINHAD = df_morte_2019_junto.LINHAD.str.replace('*','/')
df_morte_2019_junto.LINHAII = df_morte_2019_junto.LINHAII.str.replace('*','/')


df_morte_2019_junto.head()

    DTOBITO  ...                                       nm_municipio
0  21012019  ...  Catu                                          ...
1  28012019  ...  Catu                                          ...
2  27012019  ...  Catu                                          ...
3  12012019  ...  Catu                                          ...
4  10012019  ...  Catu                                          ...

[5 rows x 18 columns]

In [30]:
# splitting at occurrence of whitespace
df_morte_2019_junto['LINHAA']= df_morte_2019_junto['LINHAA'].str.split('/')
df_morte_2019_junto['LINHAB']= df_morte_2019_junto['LINHAB'].str.split('/')
df_morte_2019_junto['LINHAC']= df_morte_2019_junto['LINHAC'].str.split('/')
df_morte_2019_junto['LINHAD']= df_morte_2019_junto['LINHAD'].str.split('/')
df_morte_2019_junto['LINHAII']= df_morte_2019_junto['LINHAII'].str.split('/')

df_morte_2019_junto.head()

    DTOBITO  ...                                       nm_municipio
0  21012019  ...  Catu                                          ...
1  28012019  ...  Catu                                          ...
2  27012019  ...  Catu                                          ...
3  12012019  ...  Catu                                          ...
4  10012019  ...  Catu                                          ...

[5 rows x 18 columns]

In [31]:

# displaying second element from list
df_morte_2019_junto["LINHAA"]= df_morte_2019_junto["LINHAA"].str.get(1)
df_morte_2019_junto["LINHAB"]= df_morte_2019_junto["LINHAB"].str.get(1)
df_morte_2019_junto["LINHAC"]= df_morte_2019_junto["LINHAC"].str.get(1)
df_morte_2019_junto["LINHAD"]= df_morte_2019_junto["LINHAD"].str.get(1)
df_morte_2019_junto["LINHAII"]= df_morte_2019_junto["LINHAII"].str.get(1)

In [40]:
df_morte_2019_junto.head()

    DTOBITO  ...                                       nm_municipio
0  21012019  ...  Catu                                          ...
1  28012019  ...  Catu                                          ...
2  27012019  ...  Catu                                          ...
3  12012019  ...  Catu                                          ...
4  10012019  ...  Catu                                          ...

[5 rows x 18 columns]

In [34]:
df_morte_2019_junto.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 28 entries, 0 to 27
Data columns (total 18 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   DTOBITO             28 non-null     object
 1   DTNASC              28 non-null     object
 2   SEXO                28 non-null     object
 3   RACACOR             27 non-null     object
 4   LOCOCOR             28 non-null     object
 5   COD_MUNICIPIO_OCOR  28 non-null     object
 6   LINHAA              28 non-null     object
 7   LINHAB              23 non-null     object
 8   LINHAC              8 non-null      object
 9   LINHAD              3 non-null      object
 10  LINHAII             4 non-null      object
 11  SUBCAT              28 non-null     object
 12  DESCRICAO           28 non-null     object
 13  uf                  28 non-null     int64
 14  sgl_uf              28 non-null     object
 15  nm_uf               28 non-null     object
 16  cd_municipio_compl  28 non-null     int64
 17  nm_municipio        28 non-null     object
dtypes: int64(2), object(16)
memory usage: 4.2+ KB

In [ ]:
df_morte_2019_junto.to_csv('teste_dri.csv',sep=';',encoding = 'ISO-8859-1')

In [39]:
df_morte_2019_junto.head()

    DTOBITO  ...                                       nm_municipio
0  21012019  ...  Catu                                          ...
1  28012019  ...  Catu                                          ...
2  27012019  ...  Catu                                          ...
3  12012019  ...  Catu                                          ...
4  10012019  ...  Catu                                          ...

[5 rows x 18 columns]

In [41]:
print(df_morte_2019_junto.dtypes)

DTOBITO               object
DTNASC                object
SEXO                  object
RACACOR               object
LOCOCOR               object
COD_MUNICIPIO_OCOR    object
LINHAA                object
LINHAB                object
LINHAC                object
LINHAD                object
LINHAII               object
SUBCAT                object
DESCRICAO             object
uf                     int64
sgl_uf                object
nm_uf                 object
cd_municipio_compl     int64
nm_municipio          object
dtype: object

In [42]:
df_morte_2019_junto.DTOBITO = pd.to_datetime(df_morte_2019_junto.DTOBITO,format='%d%m%Y',utc=False)
df_morte_2019_junto.DTNASC = pd.to_datetime(df_morte_2019_junto.DTNASC,format='%d%m%Y',utc=False)

In [43]:
df_morte_2019_junto.head()

     DTOBITO  ...                                       nm_municipio
0 2019-01-21  ...  Catu                                          ...
1 2019-01-28  ...  Catu                                          ...
2 2019-01-27  ...  Catu                                          ...
3 2019-01-12  ...  Catu                                          ...
4 2019-01-10  ...  Catu                                          ...

[5 rows x 18 columns]

In [45]:
print(df_morte_2019_junto.dtypes)

DTOBITO               datetime64[ns]
DTNASC                datetime64[ns]
SEXO                          object
RACACOR                       object
LOCOCOR                       object
COD_MUNICIPIO_OCOR            object
LINHAA                        object
LINHAB                        object
LINHAC                        object
LINHAD                        object
LINHAII                       object
SUBCAT                        object
DESCRICAO                     object
uf                             int64
sgl_uf                        object
nm_uf                         object
cd_municipio_compl             int64
nm_municipio                  object
dtype: object

In [99]:
#calcular idade 
import numpy as np

df_morte_2019_junto['IDADE'] = df_morte_2019_junto['DTOBITO'] - df_morte_2019_junto['DTNASC']
df_morte_2019_junto['IDADE']=df_morte_2019_junto['IDADE']/np.timedelta64(1,'Y')
df_morte_2019_junto['IDADE']= round(df_morte_2019_junto['IDADE']- 0.5,ndigits=0)
df_morte_2019_junto['IDADE']= df_morte_2019_junto['IDADE'].astype(int)
df_ibge['COD_MUNICIPIO_OCOR'] = df_ibge['COD_MUNICIPIO_OCOR'].astype(int)

In [100]:
df_morte_2019_junto.head()

     DTOBITO  ... IDADE
0 2019-01-21  ...    57
1 2019-01-28  ...    80
2 2019-01-27  ...    73
3 2019-01-12  ...    47
4 2019-01-10  ...    72

[5 rows x 19 columns]

In [97]:
print(df_morte_2019_junto.dtypes)

DTOBITO               datetime64[ns]
DTNASC                datetime64[ns]
SEXO                          object
RACACOR                       object
LOCOCOR                       object
COD_MUNICIPIO_OCOR            object
LINHAA                        object
LINHAB                        object
LINHAC                        object
LINHAD                        object
LINHAII                       object
SUBCAT                        object
DESCRICAO                     object
uf                             int64
sgl_uf                        object
nm_uf                         object
cd_municipio_compl             int64
nm_municipio                  object
IDADE                        float64
dtype: object