<a href="https://colab.research.google.com/github/drianc/TCC-PUC-MINAS/blob/main/TCC_Ciencia_Dados_PUC_Minas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Nova seção

## Introdução
PUC Minas - Pontifícia Universidade Católica de Minas Gerais

Pós-Graduação em Ciência de Dados e Big Data

Trabalho de Conclusão de Curso

Notebook desenvolvido no ambiente GOOBLE COLAB (colab.research.google.com)

In [1]:
#import das bibliotecas
import pandas as pd
import datetime as dt

In [44]:
df_Mort_2019 = pd.read_csv('Mortalidade_Geral_2019_ALT_2.csv',sep=';',quoting=3)

df_Mort_2019.iloc[:,0] = df_Mort_2019.iloc[:,0].str.strip('"')
df_Mort_2019.iloc[:,-1] = df_Mort_2019.iloc[:,-1].str.strip('"')
#strip " from columns names 
df_Mort_2019.columns = df_Mort_2019.columns.str.strip('"')

df_Mort_2019.head()

  ORIGEM TIPOBITO     DTOBITO HORAOBITO  ... DTCONCASO FONTESINF ALTCAUSA CONTADOR
0      1      "2"  "21012019"    "0540"  ...       NaN       NaN      NaN        1
1      1      "2"  "28012019"    "1630"  ...       NaN       NaN      NaN        2
2      1      "2"  "27012019"    "2320"  ...       NaN       NaN      NaN        4
3      1      "2"  "12012019"    "2300"  ...       NaN       NaN      NaN        5
4      1      "2"  "10012019"    "1726"  ...       NaN       NaN      NaN        6

[5 rows x 87 columns]

In [45]:
df_Mort_2019_alt = df_Mort_2019.drop(columns=['ORIGEM','TIPOBITO','ESC','ESC2010','SERIESCFAL','IDADEMAE','ESCMAE','ESCMAE2010','SERIESCMAE','OCUPMAE','QTDFILVIVO','QTDFILMORT','GRAVIDEZ','SEMAGESTAC','GESTACAO',
'OBITOPARTO','PESO','TPMORTEOCO','OBITOGRAV','OBITOPUERP','ASSISTMED','EXAME','CIRURGIA','CB_PRE','COMUNSVOIM','CIRCOBITO','ACIDTRAB','FONTE','NUMEROLOTE','TPPOS','DTINVESTIG','ATESTANTE',
'STCODIFICA','CODIFICADO','VERSAOSIST','VERSAOSCB','FONTEINV','DTRECEBIM','ATESTADO','DTRECORIGA','CAUSAMAT','ESCMAEAGR1','ESCFALAGR1','STDOEPIDEM','STDONOVA','DIFDATA','NUDIASOBCO','NUDIASOBIN','DTCADINV',
'TPOBITOCOR','HORAOBITO','IDADE','OCUP','DTCADASTRO','CAUSABAS_O','DTATESTADO','ALTCAUSA','DTCONINV','FONTES','TPRESGINFO','TPNIVELINV','NUDIASINF','DTCADINF','MORTEPARTO','DTCONCASO','FONTESINF','CONTADOR','PARTO','NECROPSIA','ESTABDESCR','CODMUNNATU','NATURAL',
'ESTCIV','CODESTAB','CODMUNRES'])

#df_Mort_2019_alt['DTNASC'] = df_Mort_2019_alt['DTNASC'].astype(str)
#df_Mort_2019_alt['DTOBITO'] = df_Mort_2019_alt['DTOBITO'].astype(str)

df_Mort_2019_alt = df_Mort_2019_alt.rename({'CODMUNOCOR': 'COD_MUNICIPIO_OCOR'}, axis = 1)

df_Mort_2019_alt.DTOBITO= df_Mort_2019_alt.DTOBITO.str.replace('"','')
df_Mort_2019_alt.DTNASC = df_Mort_2019_alt.DTNASC.str.replace('"','')
df_Mort_2019_alt.SEXO = df_Mort_2019_alt.SEXO.str.replace('"','')
df_Mort_2019_alt.RACACOR = df_Mort_2019_alt.RACACOR.str.replace('"','')
df_Mort_2019_alt.LOCOCOR = df_Mort_2019_alt.LOCOCOR.str.replace('"','')
df_Mort_2019_alt.COD_MUNICIPIO_OCOR = df_Mort_2019_alt.COD_MUNICIPIO_OCOR.str.replace('"','')
df_Mort_2019_alt.LINHAA = df_Mort_2019_alt.LINHAA.str.replace('"','')
df_Mort_2019_alt.LINHAB = df_Mort_2019_alt.LINHAB.str.replace('"','')
df_Mort_2019_alt.LINHAC = df_Mort_2019_alt.LINHAC.str.replace('"','')
df_Mort_2019_alt.LINHAD = df_Mort_2019_alt.LINHAD.str.replace('"','')
df_Mort_2019_alt.LINHAII = df_Mort_2019_alt.LINHAII.str.replace('"','')
df_Mort_2019_alt.CAUSABAS = df_Mort_2019_alt.CAUSABAS.str.replace('"','')



df_Mort_2019_alt.head()

    DTOBITO    DTNASC SEXO RACACOR  ... LINHAC LINHAD LINHAII CAUSABAS
0  21012019  18021961    1       2  ...  *I10X  *N189     NaN     I120
1  28012019  03071938    2     NaN  ...    NaN    NaN     NaN     A419
2  27012019  15111945    2       4  ...  *E039    NaN     NaN     E039
3  12012019  04111971    1       4  ...    NaN    NaN     NaN     R220
4  10012019  12101946    2       4  ...    NaN    NaN     NaN     C159

[5 rows x 12 columns]

In [46]:
#gerar arquivo
df_Mort_2019_alt.to_csv('base_dados.csv',sep=';',encoding = 'ISO-8859-1')

In [182]:
# transforma string em date
# checking the type
print(df_Mort_2019_alt.dtypes)

DTOBITO               object
DTNASC                object
SEXO                  object
RACACOR               object
LOCOCOR               object
COD_MUNICIPIO_OCOR    object
LINHAA                object
LINHAB                object
LINHAC                object
LINHAD                object
LINHAII               object
CAUSABAS              object
dtype: object

In [47]:
print(df_Mort_2019_alt.dtypes)

DTOBITO               object
DTNASC                object
SEXO                  object
RACACOR               object
LOCOCOR               object
COD_MUNICIPIO_OCOR    object
LINHAA                object
LINHAB                object
LINHAC                object
LINHAD                object
LINHAII               object
CAUSABAS              object
dtype: object

In [48]:
print(df_Mort_2019_alt.dtypes)

DTOBITO               object
DTNASC                object
SEXO                  object
RACACOR               object
LOCOCOR               object
COD_MUNICIPIO_OCOR    object
LINHAA                object
LINHAB                object
LINHAC                object
LINHAD                object
LINHAII               object
CAUSABAS              object
dtype: object

In [49]:
df_Mort_2019_alt.rename(columns={'CAUSABAS':'SUBCAT'}, inplace=True)

#alterar o código municipio de int64 para string
#df_Mort_2019_alt['COD_MUNICIPIO_OCOR'] = df_Mort_2019_alt['COD_MUNICIPIO_OCOR'].astype(str)

#somente mortes em hospitais LOCOCOR = 1

# printing dataframe
print(df_Mort_2019_alt)

     DTOBITO    DTNASC SEXO RACACOR  ... LINHAC LINHAD     LINHAII SUBCAT
0   21012019  18021961    1       2  ...  *I10X  *N189         NaN   I120
1   28012019  03071938    2     NaN  ...    NaN    NaN         NaN   A419
2   27012019  15111945    2       4  ...  *E039    NaN         NaN   E039
3   12012019  04111971    1       4  ...    NaN    NaN         NaN   R220
4   10012019  12101946    2       4  ...    NaN    NaN         NaN   C159
5   24012019  22061932    1       1  ...  *I10X    NaN         NaN   I219
6   27012019  11121951    1       2  ...    NaN    NaN       *C029   I260
7   27012019  05031950    1       1  ...    NaN    NaN         NaN   E115
8   25012019  14071943    2       1  ...  *J448    NaN       *I64X   J448
9   25012019  10121978    1       1  ...    NaN    NaN  *F102*F192   X680
10  25012019  11121993    2       1  ...  *S127  *V234         NaN   V234
11  25012019  07111942    1       1  ...  *V134    NaN         NaN   V134
12  27012019  03041995    1       1  ...    NaN    NaN         NaN   W014
13  28012019  12111955    1       1  ...    NaN    NaN         NaN   W440
14  29012019  22081920    2       1  ...    NaN    NaN       *I10X   G301
15  30012019  04051961    1       1  ...    NaN    NaN         NaN   I210
16  05022019  29031937    1       4  ...  *C793  *C349         NaN   C349
17  25012019  15021920    2       1  ...    NaN    NaN         NaN   J159
18  28012019  18101926    1       1  ...    NaN    NaN         NaN   R960
19  31012019  08011935    2       1  ...    NaN    NaN         NaN   E440
20  02022019  14051929    1       4  ...    NaN    NaN         NaN   J449
21  13012019  20071936    1       4  ...    NaN    NaN         NaN   A419
22  26012019  09021916    1       4  ...  *E440    NaN         NaN   E440
23  16012019  19071931    1       4  ...    NaN    NaN         NaN    I64
24  15022019  15032018    2       1  ...    NaN    NaN         NaN   A419
25  23012019  10031943    1       1  ...    NaN    NaN         NaN    C61
26  21012019  10021929    1       1  ...    NaN    NaN         NaN   I500
27  31012019  10121916    1       4  ...    NaN    NaN         NaN   E147

[28 rows x 12 columns]

In [50]:
##Análise arquivos tipos das columans da tabela
df_Mort_2019_alt.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 28 entries, 0 to 27
Data columns (total 12 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   DTOBITO             28 non-null     object
 1   DTNASC              28 non-null     object
 2   SEXO                28 non-null     object
 3   RACACOR             27 non-null     object
 4   LOCOCOR             28 non-null     object
 5   COD_MUNICIPIO_OCOR  28 non-null     object
 6   LINHAA              28 non-null     object
 7   LINHAB              23 non-null     object
 8   LINHAC              8 non-null      object
 9   LINHAD              3 non-null      object
 10  LINHAII             4 non-null      object
 11  SUBCAT              28 non-null     object
dtypes: object(12)
memory usage: 2.8+ KB

In [11]:
#Análise arquivos contagem dos dados não nulos
df_Mort_2019_alt.count()

DTOBITO               28
DTNASC                28
SEXO                  28
RACACOR               27
LOCOCOR               28
COD_MUNICIPIO_OCOR    28
LINHAA                28
LINHAB                23
LINHAC                 8
LINHAD                 3
LINHAII                4
SUBCAT                28
dtype: int64

In [12]:
#Análise arquivos dados únicos
df_Mort_2019_alt.nunique()

DTOBITO               17
DTNASC                28
SEXO                   2
RACACOR                3
LOCOCOR                3
COD_MUNICIPIO_OCOR    13
LINHAA                18
LINHAB                20
LINHAC                 7
LINHAD                 3
LINHAII                4
SUBCAT                25
dtype: int64

In [13]:
#Análise arquivos dados nulos
df_Mort_2019_alt.isnull().sum()

DTOBITO                0
DTNASC                 0
SEXO                   0
RACACOR                1
LOCOCOR                0
COD_MUNICIPIO_OCOR     0
LINHAA                 0
LINHAB                 5
LINHAC                20
LINHAD                25
LINHAII               24
SUBCAT                 0
dtype: int64

In [51]:
#http://www2.datasus.gov.br/cid10/V2008/cid10.htm

df_cid = pd.read_csv('CID-10-SUBCATEGORIAS.csv',sep=';',encoding = 'ISO-8859-1')
df_cid.head()

  SUBCAT CLASSIF  ... REFER EXCLUIDOS
0   A000     NaN  ...   NaN       NaN
1   A001     NaN  ...   NaN       NaN
2   A009     NaN  ...   NaN       NaN
3   A010     NaN  ...   NaN       NaN
4   A011     NaN  ...   NaN       NaN

[5 rows x 8 columns]

In [52]:
df_cid_alt = df_cid.drop(columns=['CLASSIF','RESTRSEXO','CAUSAOBITO','DESCRABREV','REFER','EXCLUIDOS'])
df_cid_alt.head()

  SUBCAT                                          DESCRICAO
0   A000  Cólera devida a Vibrio cholerae 01, biótipo ch...
1   A001  Cólera devida a Vibrio cholerae 01, biótipo El...
2   A009                            Cólera não especificada
3   A010                                      Febre tifóide
4   A011                                Febre paratifóide A

In [53]:
df_cid_alt.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12451 entries, 0 to 12450
Data columns (total 2 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   SUBCAT     12451 non-null  object
 1   DESCRICAO  12451 non-null  object
dtypes: object(2)
memory usage: 194.7+ KB

In [54]:
#Merge dos obitos e da causa base da morte
df_Mort_2019_alt_2 = pd.merge(df_Mort_2019_alt,df_cid_alt, on ='SUBCAT')
df_Mort_2019_alt_2

     DTOBITO  ...                                          DESCRICAO
0   21012019  ...  Doença renal hipertensiva com insuficiência renal
1   28012019  ...                        Septicemia não especificada
2   13012019  ...                        Septicemia não especificada
3   15022019  ...                        Septicemia não especificada
4   27012019  ...                   Hipotireoidismo não especificado
5   12012019  ...  Tumefação, massa ou tumoração localizadas da c...
6   10012019  ...     Neoplasia maligna do esôfago, não especificado
7   24012019  ...        Infarto agudo do miocárdio não especificado
8   27012019  ...  Embolia pulmonar com menção de cor pulmonale a...
9   27012019  ...  Diabetes mellitus não-insulino-dependente - co...
10  25012019  ...  Outras formas especificadas de doença pulmonar...
11  25012019  ...  Auto-intoxicação por e exposição, intencional,...
12  25012019  ...  Motociclista traumatizado em colisão com um au...
13  25012019  ...  Ciclista traumatizado em colisão com um automó...
14  27012019  ...  Queda no mesmo nível por escorregão, tropeção ...
15  28012019  ...  Penetração de corpo estranho no ou através de ...
16  29012019  ...               Doença de Alzheimer de início tardio
17  30012019  ...  Infarto agudo transmural da parede anterior do...
18  05022019  ...  Neoplasia maligna dos brônquios ou pulmões, nã...
19  25012019  ...              Pneumonia bacteriana não especificada
20  28012019  ...                                  Morte instantânea
21  31012019  ...             Desnutrição protéico-calórica moderada
22  26012019  ...             Desnutrição protéico-calórica moderada
23  02022019  ...  Doença pulmonar obstrutiva crônica não especif...
24  16012019  ...  Acidente vascular cerebral, não especificado c...
25  23012019  ...                      Neoplasia maligna da próstata
26  21012019  ...                  Insuficiência cardíaca congestiva
27  31012019  ...  Diabetes mellitus não especificado - com compl...

[28 rows x 13 columns]

In [55]:
#busca a tabelas tabelas do ibge
#df_ibge = pd.read_html('https://www.ibge.gov.br/explica/codigos-dos-municipios.php#MG')
df_ibge = pd.read_csv('tabela_ibge.csv',sep=';',encoding = 'ISO-8859-1')


#buscar apenas Estado de Minas Gerais
#df_ibge_mg = df_ibge[24]
#df_ibge_mg.to_csv('ibge_mg.csv')
df_ibge

      uf  ... cd_municipio_base
0     11  ...            110148
1     11  ...            110094
2     11  ...            110009
3     11  ...            110100
4     11  ...            110010
...   ..  ...               ...
5565  52  ...            522157
5566  52  ...            522160
5567  52  ...            522170
5568  52  ...            522180
5569  52  ...            522185

[5570 rows x 6 columns]

In [56]:
print(df_ibge.dtypes)
df_ibge.rename(columns={'cd_municipio_base':'COD_MUNICIPIO_OCOR'}, inplace=True)

print(df_ibge.dtypes)

uf                     int64
sgl_uf                object
nm_uf                 object
cd_municipio_compl     int64
nm_municipio          object
cd_municipio_base      int64
dtype: object
uf                     int64
sgl_uf                object
nm_uf                 object
cd_municipio_compl     int64
nm_municipio          object
COD_MUNICIPIO_OCOR     int64
dtype: object

In [57]:
df_Mort_2019_alt_2['COD_MUNICIPIO_OCOR'] = df_Mort_2019_alt_2['COD_MUNICIPIO_OCOR'].astype(str)
df_ibge['COD_MUNICIPIO_OCOR'] = df_ibge['COD_MUNICIPIO_OCOR'].astype(str)
# Realizar o merge Dataframe df_Mort_2019_alt e df_cid_alt
df_morte_2019_junto = pd.merge(df_Mort_2019_alt_2, df_ibge, on=['COD_MUNICIPIO_OCOR'])

df_morte_2019_junto.head()

    DTOBITO  ...                                       nm_municipio
0  21012019  ...  Catu                                          ...
1  28012019  ...  Catu                                          ...
2  27012019  ...  Catu                                          ...
3  12012019  ...  Catu                                          ...
4  10012019  ...  Catu                                          ...

[5 rows x 18 columns]

In [196]:

df_morte_2019_junto.LINHAA = df_morte_2019_junto.LINHAA.str.replace('*','/')
df_morte_2019_junto.LINHAB = df_morte_2019_junto.LINHAB.str.replace('*','/')
df_morte_2019_junto.LINHAC = df_morte_2019_junto.LINHAC.str.replace('*','/')
df_morte_2019_junto.LINHAD = df_morte_2019_junto.LINHAD.str.replace('*','/')
df_morte_2019_junto.LINHAII = df_morte_2019_junto.LINHAII.str.replace('*','/')


df_morte_2019_junto.head()

    DTOBITO  ...                                       nm_municipio
0  21012019  ...  Catu                                          ...
1  28012019  ...  Catu                                          ...
2  27012019  ...  Catu                                          ...
3  12012019  ...  Catu                                          ...
4  10012019  ...  Catu                                          ...

[5 rows x 18 columns]

In [197]:
# splitting at occurrence of whitespace
df_t['LINHAA']= df_t['LINHAA'].str.split('/')
df_t['LINHAB']= df_t['LINHAB'].str.split('/')
df_t['LINHAC']= df_t['LINHAC'].str.split('/')
df_t['LINHAD']= df_t['LINHAD'].str.split('/')
df_t['LINHAII']= df_t['LINHAII'].str.split('/')

df_t.head()

    DTOBITO  ...                                       nm_municipio
0  21012019  ...  Catu                                          ...
1  28012019  ...  Catu                                          ...
2  27012019  ...  Catu                                          ...
3  12012019  ...  Catu                                          ...
4  10012019  ...  Catu                                          ...

[5 rows x 18 columns]

In [198]:

# displaying second element from list
df_t["LINHAA"]= df_t["LINHAA"].str.get(0)
df_t["LINHAB"]= df_t["LINHAB"].str.get(0)
df_t["LINHAC"]= df_t["LINHAC"].str.get(0)
df_t["LINHAD"]= df_t["LINHAD"].str.get(0)
df_t["LINHAII"]= df_t["LINHAII"].str.get(0)

In [199]:
df_t.head()

    DTOBITO  ...                                       nm_municipio
0  21012019  ...  Catu                                          ...
1  28012019  ...  Catu                                          ...
2  27012019  ...  Catu                                          ...
3  12012019  ...  Catu                                          ...
4  10012019  ...  Catu                                          ...

[5 rows x 18 columns]

In [200]:
df_t.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 28 entries, 0 to 27
Data columns (total 18 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   DTOBITO             28 non-null     object
 1   DTNASC              28 non-null     object
 2   SEXO                28 non-null     object
 3   RACACOR             27 non-null     object
 4   LOCOCOR             28 non-null     object
 5   COD_MUNICIPIO_OCOR  28 non-null     object
 6   LINHAA              28 non-null     object
 7   LINHAB              23 non-null     object
 8   LINHAC              8 non-null      object
 9   LINHAD              3 non-null      object
 10  LINHAII             4 non-null      object
 11  SUBCAT              28 non-null     object
 12  DESCRICAO           28 non-null     object
 13  uf                  28 non-null     int64
 14  sgl_uf              28 non-null     object
 15  nm_uf               28 non-null     object
 16  cd_municipio_compl  28 non-null     int64
 17  nm_municipio        28 non-null     object
dtypes: int64(2), object(16)
memory usage: 4.2+ KB

In [ ]:
df_morte_2019_junto.to_csv('teste_dri.csv',sep=';',encoding = 'ISO-8859-1')

In [277]:
df_Mort_2019_alt.head()

    DTOBITO    DTNASC SEXO RACACOR LOCOCOR  ... LINHAB LINHAC LINHAD LINHAII SUBCAT
0  21012019  18021961    1       2       1  ...  *J81X  *I10X  *N189     NaN   I120
1  28012019  03071938    2     NaN       1  ...    NaN    NaN    NaN     NaN   A419
2  27012019  15111945    2       4       1  ...  *I10X  *E039    NaN     NaN   E039
3  12012019  04111971    1       4       1  ...  *R220    NaN    NaN     NaN   R220
4  10012019  12101946    2       4       1  ...  *C159    NaN    NaN     NaN   C159

[5 rows x 12 columns]

In [34]:
print(df_Mort_2019_alt.dtypes)

DTOBITO               object
DTNASC                object
SEXO                  object
RACACOR               object
LOCOCOR               object
COD_MUNICIPIO_OCOR    object
LINHAA                object
LINHAB                object
LINHAC                object
LINHAD                object
LINHAII               object
SUBCAT                object
dtype: object

In [68]:
df_Mort_2019_alt.DTOBITO = pd.to_datetime(df_Mort_2019_alt.DTOBITO,format='%d%m%Y',utc=False)
df_Mort_2019_alt.DTNASC = pd.to_datetime(df_Mort_2019_alt.DTNASC,format='%d%m%Y',utc=False)

In [69]:
df_Mort_2019_alt.head()
#print(df_Mort_2019_alt.dtypes)

     DTOBITO     DTNASC SEXO RACACOR  ... LINHAC LINHAD LINHAII SUBCAT
0 2019-01-21 1961-02-18    1       2  ...  *I10X  *N189     NaN   I120
1 2019-01-28 1938-07-03    2     NaN  ...    NaN    NaN     NaN   A419
2 2019-01-27 1945-11-15    2       4  ...  *E039    NaN     NaN   E039
3 2019-01-12 1971-11-04    1       4  ...    NaN    NaN     NaN   R220
4 2019-01-10 1946-10-12    2       4  ...    NaN    NaN     NaN   C159

[5 rows x 12 columns]