<a href="https://colab.research.google.com/github/drianc/TCC-PUC-MINAS/blob/main/TCC_Ciencia_Dados_PUC_Minas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Nova seção

## Introdução
PUC Minas - Pontifícia Universidade Católica de Minas Gerais

Pós-Graduação em Ciência de Dados e Big Data

Trabalho de Conclusão de Curso

Notebook desenvolvido no ambiente GOOBLE COLAB (colab.research.google.com)

In [1]:
#import das bibliotecas
import pandas as pd
import numpy as np

In [9]:
df_Mort_2019 = pd.read_csv('Mortalidade_Geral_2019_menor.csv',sep=';')
df_Mort_2019.head()

   ORIGEM  TIPOBITO   DTOBITO  ...  FONTESINF  ALTCAUSA  CONTADOR
0       1         2  21012019  ...        NaN       NaN         1
1       1         2  28012019  ...        NaN       NaN         2
2       1         2  27012019  ...        NaN       NaN         4
3       1         2  12012019  ...        NaN       NaN         5
4       1         2  10012019  ...        NaN       NaN         6

[5 rows x 87 columns]

In [10]:
df_Mort_2019 = pd.read_csv('Mortalidade_Geral_2019_menor.csv',sep=';')
df_Mort_2019_alt = df_Mort_2019.drop(columns=['ORIGEM','TIPOBITO','ESC','ESC2010','SERIESCFAL','IDADEMAE','ESCMAE','ESCMAE2010','SERIESCMAE','OCUPMAE','QTDFILVIVO','QTDFILMORT','GRAVIDEZ','SEMAGESTAC','GESTACAO',
'OBITOPARTO','PESO','TPMORTEOCO','OBITOGRAV','OBITOPUERP','ASSISTMED','EXAME','CIRURGIA','CB_PRE','COMUNSVOIM','CIRCOBITO','ACIDTRAB','FONTE','NUMEROLOTE','TPPOS','DTINVESTIG','ATESTANTE',
'STCODIFICA','CODIFICADO','VERSAOSIST','VERSAOSCB','FONTEINV','DTRECEBIM','ATESTADO','DTRECORIGA','CAUSAMAT','ESCMAEAGR1','ESCFALAGR1','STDOEPIDEM','STDONOVA','DIFDATA','NUDIASOBCO','NUDIASOBIN','DTCADINV',
'TPOBITOCOR','HORAOBITO','IDADE','OCUP','DTCADASTRO','CAUSABAS_O','DTATESTADO','ALTCAUSA','DTCONINV','FONTES','TPRESGINFO','TPNIVELINV','NUDIASINF','DTCADINF','MORTEPARTO','DTCONCASO','FONTESINF','CONTADOR','PARTO','NECROPSIA','ESTABDESCR','CODMUNNATU','NATURAL',
'ESTCIV','CODESTAB','CODMUNRES'])

df_Mort_2019_alt.head()
df_Mort_2019_alt = df_Mort_2019_alt.rename({'CODMUNOCOR': 'COD_MUNICIPIO_OCOR'}, axis = 1)
df_Mort_2019_alt.head()

    DTOBITO    DTNASC  SEXO  RACACOR  ...  LINHAC  LINHAD LINHAII CAUSABAS
0  21012019  18021961     1      2.0  ...   *I10X   *N189     NaN     I120
1  28012019   3071938     2      NaN  ...     NaN     NaN     NaN     A419
2  27012019  15111945     2      4.0  ...   *E039     NaN     NaN     E039
3  12012019   4111971     1      4.0  ...     NaN     NaN     NaN     R220
4  10012019  12101946     2      4.0  ...     NaN     NaN     NaN     C159

[5 rows x 12 columns]

In [11]:
# transforma string em date
# checking the type
print(df_Mort_2019_alt.dtypes)

DTOBITO                 int64
DTNASC                  int64
SEXO                    int64
RACACOR               float64
LOCOCOR                 int64
COD_MUNICIPIO_OCOR      int64
LINHAA                 object
LINHAB                 object
LINHAC                 object
LINHAD                 object
LINHAII                object
CAUSABAS               object
dtype: object

In [26]:
# converting the integers to datetime format
df_Mort_2019_alt['DTOBITO'] = pd.to_datetime(df_Mort_2019_alt['DTOBITO'])
df_Mort_2019_alt['DTNASC'] = pd.to_datetime(df_Mort_2019_alt['DTNASC'])  
df_Mort_2019_alt.rename(columns={'CAUSABAS':'SUBCAT'}, inplace=True)

#alterar o código municipio de int64 para string
#df_Mort_2019_alt['COD_MUNICIPIO_OCOR'] = df_Mort_2019_alt['COD_MUNICIPIO_OCOR'].astype(str)

#somente mortes em hospitais LOCOCOR = 1


#Types
print(df_Mort_2019_alt.dtypes)

# printing dataframe
print(df_Mort_2019_alt)

DTOBITO               datetime64[ns]
DTNASC                datetime64[ns]
SEXO                           int64
RACACOR                      float64
LOCOCOR                        int64
COD_MUNICIPIO_OCOR            object
LINHAA                        object
LINHAB                        object
LINHAC                        object
LINHAD                        object
LINHAII                       object
SUBCAT                        object
dtype: object
                         DTOBITO  ... SUBCAT
0  1970-01-01 00:00:00.021012019  ...   I120
1  1970-01-01 00:00:00.028012019  ...   A419
2  1970-01-01 00:00:00.027012019  ...   E039
3  1970-01-01 00:00:00.012012019  ...   R220
4  1970-01-01 00:00:00.010012019  ...   C159
..                           ...  ...    ...
94 1970-01-01 00:00:00.005022019  ...   J440
95 1970-01-01 00:00:00.030012019  ...    R98
96 1970-01-01 00:00:00.016022019  ...   C788
97 1970-01-01 00:00:00.014022019  ...    R99
98 1970-01-01 00:00:00.009022019  ...   E145

[99 rows x 12 columns]

In [13]:
##Análise arquivos tipos das columans da tabela
df_Mort_2019_alt.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 99 entries, 0 to 98
Data columns (total 12 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   DTOBITO             99 non-null     datetime64[ns]
 1   DTNASC              99 non-null     datetime64[ns]
 2   SEXO                99 non-null     int64
 3   RACACOR             97 non-null     float64
 4   LOCOCOR             99 non-null     int64
 5   COD_MUNICIPIO_OCOR  99 non-null     object
 6   LINHAA              97 non-null     object
 7   LINHAB              83 non-null     object
 8   LINHAC              40 non-null     object
 9   LINHAD              14 non-null     object
 10  LINHAII             25 non-null     object
 11  SUBCAT              99 non-null     object
dtypes: datetime64[ns](2), float64(1), int64(2), object(7)
memory usage: 9.4+ KB

In [14]:
#Análise arquivos contagem dos dados não nulos
df_Mort_2019_alt.count()

DTOBITO               99
DTNASC                99
SEXO                  99
RACACOR               97
LOCOCOR               99
COD_MUNICIPIO_OCOR    99
LINHAA                97
LINHAB                83
LINHAC                40
LINHAD                14
LINHAII               25
SUBCAT                99
dtype: int64

In [15]:
#Análise arquivos dados únicos
df_Mort_2019_alt.nunique()

DTOBITO               37
DTNASC                99
SEXO                   2
RACACOR                4
LOCOCOR                5
COD_MUNICIPIO_OCOR    34
LINHAA                44
LINHAB                59
LINHAC                34
LINHAD                12
LINHAII               22
SUBCAT                78
dtype: int64

In [16]:
#Análise arquivos dados nulos
df_Mort_2019_alt.isnull().sum()

DTOBITO                0
DTNASC                 0
SEXO                   0
RACACOR                2
LOCOCOR                0
COD_MUNICIPIO_OCOR     0
LINHAA                 2
LINHAB                16
LINHAC                59
LINHAD                85
LINHAII               74
SUBCAT                 0
dtype: int64

In [18]:
#http://www2.datasus.gov.br/cid10/V2008/cid10.htm

df_cid = pd.read_csv('CID-10-SUBCATEGORIAS.csv',sep=';',encoding = 'ISO-8859-1')
df_cid.head()

  SUBCAT CLASSIF  ... REFER EXCLUIDOS
0   A000     NaN  ...   NaN       NaN
1   A001     NaN  ...   NaN       NaN
2   A009     NaN  ...   NaN       NaN
3   A010     NaN  ...   NaN       NaN
4   A011     NaN  ...   NaN       NaN

[5 rows x 8 columns]

In [19]:
df_cid_alt = df_cid.drop(columns=['CLASSIF','RESTRSEXO','CAUSAOBITO','DESCRABREV','REFER','EXCLUIDOS'])
df_cid_alt.head()

  SUBCAT                                          DESCRICAO
0   A000  Cólera devida a Vibrio cholerae 01, biótipo ch...
1   A001  Cólera devida a Vibrio cholerae 01, biótipo El...
2   A009                            Cólera não especificada
3   A010                                      Febre tifóide
4   A011                                Febre paratifóide A

In [20]:
df_cid_alt.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12451 entries, 0 to 12450
Data columns (total 2 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   SUBCAT     12451 non-null  object
 1   DESCRICAO  12451 non-null  object
dtypes: object(2)
memory usage: 194.7+ KB

In [22]:
#Merge dos obitos e da causa base da morte
df_Mort_2019_alt_2 = pd.merge(df_Mort_2019_alt,df_cid_alt, on ='SUBCAT')
df_Mort_2019_alt_2

                         DTOBITO  ...                                          DESCRICAO
0  1970-01-01 00:00:00.021012019  ...  Doença renal hipertensiva com insuficiência renal
1  1970-01-01 00:00:00.020022019  ...  Doença renal hipertensiva com insuficiência renal
2  1970-01-01 00:00:00.028012019  ...                        Septicemia não especificada
3  1970-01-01 00:00:00.013012019  ...                        Septicemia não especificada
4  1970-01-01 00:00:00.015022019  ...                        Septicemia não especificada
..                           ...  ...                                                ...
94 1970-01-01 00:00:00.020022019  ...                   Hipertensão essencial (primária)
95 1970-01-01 00:00:00.005022019  ...  Doença pulmonar obstrutiva crônica com infecçã...
96 1970-01-01 00:00:00.030012019  ...                              Morte sem assistência
97 1970-01-01 00:00:00.016022019  ...  Neoplasia maligna secundária de outros órgãos ...
98 1970-01-01 00:00:00.009022019  ...  Diabetes mellitus não especificado - com compl...

[99 rows x 13 columns]

In [23]:
#busca a tabelas tabelas do ibge
#df_ibge = pd.read_html('https://www.ibge.gov.br/explica/codigos-dos-municipios.php#MG')
df_ibge = pd.read_csv('tabela_ibge.csv',sep=';',encoding = 'ISO-8859-1')


#buscar apenas Estado de Minas Gerais
#df_ibge_mg = df_ibge[24]
#df_ibge_mg.to_csv('ibge_mg.csv')
df_ibge

      uf  ... cd_municipio_base
0     11  ...            110148
1     11  ...            110094
2     11  ...            110009
3     11  ...            110100
4     11  ...            110010
...   ..  ...               ...
5565  52  ...            522157
5566  52  ...            522160
5567  52  ...            522170
5568  52  ...            522180
5569  52  ...            522185

[5570 rows x 6 columns]

In [24]:
print(df_ibge.dtypes)
print(df_Mort_2019_alt.dtypes)

uf                     int64
sgl_uf                object
nm_uf                 object
cd_municipio_compl     int64
nm_municipio          object
cd_municipio_base      int64
dtype: object
DTOBITO               datetime64[ns]
DTNASC                datetime64[ns]
SEXO                           int64
RACACOR                      float64
LOCOCOR                        int64
COD_MUNICIPIO_OCOR            object
LINHAA                        object
LINHAB                        object
LINHAC                        object
LINHAD                        object
LINHAII                       object
SUBCAT                        object
dtype: object

In [35]:


print(df_Mort_2019_alt.dtypes) 

print(df_ibge.dtypes)
df_ibge.rename(columns={'cd_municipio_base':'COD_MUNICIPIO_OCOR'}, inplace=True)
print(df_Mort_2019_alt.dtypes)

DTOBITO               datetime64[ns]
DTNASC                datetime64[ns]
SEXO                           int64
RACACOR                      float64
LOCOCOR                        int64
COD_MUNICIPIO_OCOR            object
LINHAA                        object
LINHAB                        object
LINHAC                        object
LINHAD                        object
LINHAII                       object
SUBCAT                        object
dtype: object
uf                     int64
sgl_uf                object
nm_uf                 object
cd_municipio_compl     int64
nm_municipio          object
COD_MUNICIPIO_OCOR    object
dtype: object
DTOBITO               datetime64[ns]
DTNASC                datetime64[ns]
SEXO                           int64
RACACOR                      float64
LOCOCOR                        int64
COD_MUNICIPIO_OCOR            object
LINHAA                        object
LINHAB                        object
LINHAC                        object
LINHAD                        object
LINHAII                       object
SUBCAT                        object
dtype: object

In [38]:

df_ibge['COD_MUNICIPIO_OCOR'] = df_ibge['COD_MUNICIPIO_OCOR'].astype(str)


# Realizar o merge Dataframe df_Mort_2019_alt e df_cid_alt
df_morte_2019_junto = pd.merge(df_Mort_2019_alt, df_ibge, on=['COD_MUNICIPIO_OCOR'])
df_morte_2019_junto

                         DTOBITO  ...                                       nm_municipio
0  1970-01-01 00:00:00.021012019  ...  Catu                                          ...
1  1970-01-01 00:00:00.028012019  ...  Catu                                          ...
2  1970-01-01 00:00:00.027012019  ...  Catu                                          ...
3  1970-01-01 00:00:00.012012019  ...  Catu                                          ...
4  1970-01-01 00:00:00.010012019  ...  Catu                                          ...
..                           ...  ...                                                ...
94 1970-01-01 00:00:00.020022019  ...  Guapiaçu                                      ...
95 1970-01-01 00:00:00.005022019  ...  Guapiaçu                                      ...
96 1970-01-01 00:00:00.030012019  ...  Rafard                                        ...
97 1970-01-01 00:00:00.016022019  ...  Rafard                                        ...
98 1970-01-01 00:00:00.009022019  ...  São Bernardo do Campo                         ...

[99 rows x 17 columns]