<a href="https://colab.research.google.com/github/drianc/TCC-PUC-MINAS/blob/main/TCC_Ciencia_Dados_PUC_Minas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Nova seção

## Introdução
PUC Minas - Pontifícia Universidade Católica de Minas Gerais

Pós-Graduação em Ciência de Dados e Big Data

Trabalho de Conclusão de Curso

Notebook desenvolvido no ambiente GOOBLE COLAB (colab.research.google.com)

In [16]:
#import das bibliotecas
import pandas as pd
import numpy as np

In [17]:
df_Mort_2019 = pd.read_csv('Mortalidade_Geral_2019.csv',sep=';')
df_Mort_2019.head()

/usr/local/lib/python3.7/dist-packages/IPython/core/interactiveshell.py:2718: DtypeWarning: Columns (66) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

   ORIGEM  TIPOBITO   DTOBITO  ...  FONTESINF  ALTCAUSA  CONTADOR
0       1         2  21012019  ...        NaN       NaN         1
1       1         2  28012019  ...        NaN       NaN         2
2       1         2  27012019  ...        NaN       NaN         4
3       1         2  12012019  ...        NaN       NaN         5
4       1         2  10012019  ...        NaN       NaN         6

[5 rows x 87 columns]

In [18]:
df_Mort_2019 = pd.read_csv('Mortalidade_Geral_2019.csv',sep=';')
df_Mort_2019_alt = df_Mort_2019.drop(columns=['ORIGEM','TIPOBITO','ESC','ESC2010','SERIESCFAL','IDADEMAE','ESCMAE','ESCMAE2010','SERIESCMAE','OCUPMAE','QTDFILVIVO','QTDFILMORT','GRAVIDEZ','SEMAGESTAC','GESTACAO',
'OBITOPARTO','PESO','TPMORTEOCO','OBITOGRAV','OBITOPUERP','ASSISTMED','EXAME','CIRURGIA','CB_PRE','COMUNSVOIM','CIRCOBITO','ACIDTRAB','FONTE','NUMEROLOTE','TPPOS','DTINVESTIG','ATESTANTE',
'STCODIFICA','CODIFICADO','VERSAOSIST','VERSAOSCB','FONTEINV','DTRECEBIM','ATESTADO','DTRECORIGA','CAUSAMAT','ESCMAEAGR1','ESCFALAGR1','STDOEPIDEM','STDONOVA','DIFDATA','NUDIASOBCO','NUDIASOBIN','DTCADINV',
'TPOBITOCOR','HORAOBITO','IDADE','OCUP','DTCADASTRO','CAUSABAS_O','DTATESTADO','ALTCAUSA','DTCONINV','FONTES','TPRESGINFO','TPNIVELINV','NUDIASINF','DTCADINF','MORTEPARTO','DTCONCASO','FONTESINF','CONTADOR','PARTO','NECROPSIA','ESTABDESCR','CODMUNNATU','NATURAL',
'ESTCIV','CODESTAB','CODMUNRES'])

df_Mort_2019_alt.head()
df_Mort_2019_alt = df_Mort_2019_alt.rename({'CODMUNOCOR': 'COD_MUNICIPIO_OCOR'}, axis = 1)
df_Mort_2019_alt.head()

/usr/local/lib/python3.7/dist-packages/IPython/core/interactiveshell.py:2718: DtypeWarning: Columns (66) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

    DTOBITO      DTNASC  SEXO  RACACOR  ...  LINHAC  LINHAD LINHAII CAUSABAS
0  21012019  18021961.0     1      2.0  ...   *I10X   *N189     NaN     I120
1  28012019   3071938.0     2      NaN  ...     NaN     NaN     NaN     A419
2  27012019  15111945.0     2      4.0  ...   *E039     NaN     NaN     E039
3  12012019   4111971.0     1      4.0  ...     NaN     NaN     NaN     R220
4  10012019  12101946.0     2      4.0  ...     NaN     NaN     NaN     C159

[5 rows x 12 columns]

In [19]:
# transforma string em date
# checking the type
print(df_Mort_2019_alt.dtypes)

DTOBITO                 int64
DTNASC                float64
SEXO                    int64
RACACOR               float64
LOCOCOR                 int64
COD_MUNICIPIO_OCOR      int64
LINHAA                 object
LINHAB                 object
LINHAC                 object
LINHAD                 object
LINHAII                object
CAUSABAS               object
dtype: object

In [29]:
# converting the integers to datetime format
df_Mort_2019_alt['DTOBITO'] = pd.to_datetime(df_Mort_2019_alt['DTOBITO'])
df_Mort_2019_alt['DTNASC'] = pd.to_datetime(df_Mort_2019_alt['DTNASC'])  
df_Mort_2019_alt.rename(columns={'CAUSABAS':'SUBCAT'}, inplace=True)

#alterar o código municipio de int64 para string
#df_Mort_2019_alt['COD_MUNICIPIO_OCOR'] = df_Mort_2019_alt['COD_MUNICIPIO_OCOR'].astype(str)

#somente mortes em hospitais LOCOCOR = 1


#Types
print(df_Mort_2019_alt.dtypes)

# printing dataframe
print(df_Mort_2019_alt)

DTOBITO               datetime64[ns]
DTNASC                datetime64[ns]
SEXO                           int64
RACACOR                      float64
LOCOCOR                        int64
COD_MUNICIPIO_OCOR             int64
LINHAA                        object
LINHAB                        object
LINHAC                        object
LINHAD                        object
LINHAII                       object
SUBCAT                        object
dtype: object
                              DTOBITO  ... SUBCAT
0       1970-01-01 00:00:00.021012019  ...   I120
1       1970-01-01 00:00:00.028012019  ...   A419
2       1970-01-01 00:00:00.027012019  ...   E039
3       1970-01-01 00:00:00.012012019  ...   R220
4       1970-01-01 00:00:00.010012019  ...   C159
...                               ...  ...    ...
1349796 1970-01-01 00:00:00.005082019  ...   C539
1349797 1970-01-01 00:00:00.010102019  ...   I219
1349798 1970-01-01 00:00:00.031052019  ...   C787
1349799 1970-01-01 00:00:00.031082019  ...    I64
1349800 1970-01-01 00:00:00.025092019  ...    R99

[1349801 rows x 12 columns]

In [30]:
##Análise arquivos tipos das columans da tabela
df_Mort_2019_alt.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1349801 entries, 0 to 1349800
Data columns (total 12 columns):
 #   Column              Non-Null Count    Dtype
---  ------              --------------    -----
 0   DTOBITO             1349801 non-null  datetime64[ns]
 1   DTNASC              1346010 non-null  datetime64[ns]
 2   SEXO                1349801 non-null  int64
 3   RACACOR             1315348 non-null  float64
 4   LOCOCOR             1349801 non-null  int64
 5   COD_MUNICIPIO_OCOR  1349801 non-null  int64
 6   LINHAA              1309201 non-null  object
 7   LINHAB              1039466 non-null  object
 8   LINHAC              646408 non-null   object
 9   LINHAD              274401 non-null   object
 10  LINHAII             490709 non-null   object
 11  SUBCAT              1349801 non-null  object
dtypes: datetime64[ns](2), float64(1), int64(3), object(6)
memory usage: 123.6+ MB

In [31]:
#Análise arquivos contagem dos dados não nulos
df_Mort_2019_alt.count()

DTOBITO               1349801
DTNASC                1346010
SEXO                  1349801
RACACOR               1315348
LOCOCOR               1349801
COD_MUNICIPIO_OCOR    1349801
LINHAA                1309201
LINHAB                1039466
LINHAC                 646408
LINHAD                 274401
LINHAII                490709
SUBCAT                1349801
dtype: int64

In [32]:
#Análise arquivos dados únicos
df_Mort_2019_alt.nunique()

DTOBITO                 365
DTNASC                39040
SEXO                      3
RACACOR                   5
LOCOCOR                   7
COD_MUNICIPIO_OCOR     5564
LINHAA                12875
LINHAB                14624
LINHAC                13624
LINHAD                11298
LINHAII               67928
SUBCAT                 5515
dtype: int64

In [33]:
#Análise arquivos dados nulos
df_Mort_2019_alt.isnull().sum()

DTOBITO                     0
DTNASC                   3791
SEXO                        0
RACACOR                 34453
LOCOCOR                     0
COD_MUNICIPIO_OCOR          0
LINHAA                  40600
LINHAB                 310335
LINHAC                 703393
LINHAD                1075400
LINHAII                859092
SUBCAT                      0
dtype: int64

In [34]:
#http://www2.datasus.gov.br/cid10/V2008/cid10.htm

df_cid = pd.read_csv('CID-10-SUBCATEGORIAS.csv',sep=';',encoding = 'ISO-8859-1')
df_cid.head()

  SUBCAT CLASSIF  ... REFER EXCLUIDOS
0   A000     NaN  ...   NaN       NaN
1   A001     NaN  ...   NaN       NaN
2   A009     NaN  ...   NaN       NaN
3   A010     NaN  ...   NaN       NaN
4   A011     NaN  ...   NaN       NaN

[5 rows x 8 columns]

In [35]:
df_cid_alt = df_cid.drop(columns=['CLASSIF','RESTRSEXO','CAUSAOBITO','DESCRABREV','REFER','EXCLUIDOS'])
df_cid_alt.head()

  SUBCAT                                          DESCRICAO
0   A000  Cólera devida a Vibrio cholerae 01, biótipo ch...
1   A001  Cólera devida a Vibrio cholerae 01, biótipo El...
2   A009                            Cólera não especificada
3   A010                                      Febre tifóide
4   A011                                Febre paratifóide A

In [36]:
df_cid_alt.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12451 entries, 0 to 12450
Data columns (total 2 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   SUBCAT     12451 non-null  object
 1   DESCRICAO  12451 non-null  object
dtypes: object(2)
memory usage: 194.7+ KB

In [37]:
#Merge dos obitos e da causa base da morte
df_Mort_2019_alt_2 = pd.merge(df_Mort_2019_alt,df_cid_alt, on ='SUBCAT')
df_Mort_2019_alt_2

                              DTOBITO  ...                                          DESCRICAO
0       1970-01-01 00:00:00.021012019  ...  Doença renal hipertensiva com insuficiência renal
1       1970-01-01 00:00:00.020022019  ...  Doença renal hipertensiva com insuficiência renal
2       1970-01-01 00:00:00.016012019  ...  Doença renal hipertensiva com insuficiência renal
3       1970-01-01 00:00:00.020022019  ...  Doença renal hipertensiva com insuficiência renal
4       1970-01-01 00:00:00.004012019  ...  Doença renal hipertensiva com insuficiência renal
...                               ...  ...                                                ...
1349796 1970-01-01 00:00:00.016072019  ...                       Leiomioma submucoso do útero
1349797 1970-01-01 00:00:00.023122019  ...  Neoplasia lipomatosa benigna da pele e do teci...
1349798 1970-01-01 00:00:00.008122019  ...      Síndrome nefrótica - doença de depósito denso
1349799 1970-01-01 00:00:00.019122019  ...          Outras fístulas do trato genital feminino
1349800 1970-01-01 00:00:00.029102019  ...                              Estereotipias motoras

[1349801 rows x 13 columns]

In [43]:
#busca a tabelas tabelas do ibge
#df_ibge = pd.read_html('https://www.ibge.gov.br/explica/codigos-dos-municipios.php#MG')
df_ibge = pd.read_csv('tabela_ibge.csv',sep=';',encoding = 'ISO-8859-1')


#buscar apenas Estado de Minas Gerais
#df_ibge_mg = df_ibge[24]
#df_ibge_mg.to_csv('ibge_mg.csv')
df_ibge

      uf  ... cd_municipio_base
0     11  ...            110148
1     11  ...            110094
2     11  ...            110009
3     11  ...            110100
4     11  ...            110010
...   ..  ...               ...
5565  52  ...            522157
5566  52  ...            522160
5567  52  ...            522170
5568  52  ...            522180
5569  52  ...            522185

[5570 rows x 6 columns]

In [48]:
print(df_ibge.dtypes)
df_ibge.rename(columns={'cd_municipio_base':'COD_MUNICIPIO_OCOR'}, inplace=True)

uf                     int64
sgl_uf                object
nm_uf                 object
cd_municipio_compl     int64
nm_municipio          object
COD_MUNICIPIO_OCOR    object
dtype: object

In [51]:
df_Mort_2019_alt_2['COD_MUNICIPIO_OCOR'] = df_Mort_2019_alt_2['COD_MUNICIPIO_OCOR'].astype(str)

# Realizar o merge Dataframe df_Mort_2019_alt e df_cid_alt
df_morte_2019_junto = pd.merge(df_Mort_2019_alt_2, df_ibge, on=['COD_MUNICIPIO_OCOR'])

In [52]:
df_morte_2019_junto.to_csv('teste_dri.csv',sep=';',encoding = 'ISO-8859-1')