<a href="https://colab.research.google.com/github/drianc/TCC-PUC-MINAS/blob/main/TCC_Ciencia_Dados_PUC_Minas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Nova seção

## Introdução
PUC Minas - Pontifícia Universidade Católica de Minas Gerais

Pós-Graduação em Ciência de Dados e Big Data

Trabalho de Conclusão de Curso

Notebook desenvolvido no ambiente GOOBLE COLAB (colab.research.google.com)

In [99]:
#import das bibliotecas
import pandas as pd

In [100]:
df_Mort_2019 = pd.read_csv('Mortalidade_Geral_2019_menor.csv',sep=';')
df_Mort_2019.head()

   ORIGEM  TIPOBITO   DTOBITO  ...  FONTESINF  ALTCAUSA  CONTADOR
0       1         2  21012019  ...        NaN       NaN         1
1       1         2  28012019  ...        NaN       NaN         2
2       1         2  27012019  ...        NaN       NaN         4
3       1         2  12012019  ...        NaN       NaN         5
4       1         2  10012019  ...        NaN       NaN         6

[5 rows x 87 columns]

In [30]:
df_Mort_2019 = pd.read_csv('Mortalidade_Geral_2019_menor.csv',sep=';')
df_Mort_2019_alt = df_Mort_2019.drop(columns=['ORIGEM','TIPOBITO','ESC','ESC2010','SERIESCFAL','IDADEMAE','ESCMAE','ESCMAE2010','SERIESCMAE','OCUPMAE','QTDFILVIVO','QTDFILMORT','GRAVIDEZ','SEMAGESTAC','GESTACAO',
'OBITOPARTO','PESO','TPMORTEOCO','OBITOGRAV','OBITOPUERP','ASSISTMED','EXAME','CIRURGIA','CB_PRE','COMUNSVOIM','CIRCOBITO','ACIDTRAB','FONTE','NUMEROLOTE','TPPOS','DTINVESTIG','ATESTANTE',
'STCODIFICA','CODIFICADO','VERSAOSIST','VERSAOSCB','FONTEINV','DTRECEBIM','ATESTADO','DTRECORIGA','CAUSAMAT','ESCMAEAGR1','ESCFALAGR1','STDOEPIDEM','STDONOVA','DIFDATA','NUDIASOBCO','NUDIASOBIN','DTCADINV',
'TPOBITOCOR','HORAOBITO','IDADE','OCUP','DTCADASTRO','CAUSABAS_O','DTATESTADO','ALTCAUSA','DTCONINV','FONTES','TPRESGINFO','TPNIVELINV','NUDIASINF','DTCADINF','MORTEPARTO','DTCONCASO','FONTESINF','CONTADOR','PARTO','NECROPSIA','ESTABDESCR','CODMUNNATU','NATURAL',
'ESTCIV','CODESTAB','CODMUNRES'])

df_Mort_2019_alt.head()
df_Mort_2019_alt = df_Mort_2019_alt.rename({'CODMUNOCOR': 'COD_MUNICIPIO_OCOR'}, axis = 1)
df_Mort_2019_alt.head()

    DTOBITO    DTNASC  SEXO  RACACOR  ...  LINHAC  LINHAD LINHAII CAUSABAS
0  21012019  18021961     1      2.0  ...   *I10X   *N189     NaN     I120
1  28012019   3071938     2      NaN  ...     NaN     NaN     NaN     A419
2  27012019  15111945     2      4.0  ...   *E039     NaN     NaN     E039
3  12012019   4111971     1      4.0  ...     NaN     NaN     NaN     R220
4  10012019  12101946     2      4.0  ...     NaN     NaN     NaN     C159

[5 rows x 12 columns]

In [31]:
# transforma string em date
# checking the type
print(df_Mort_2019_alt.dtypes)

DTOBITO                 int64
DTNASC                  int64
SEXO                    int64
RACACOR               float64
LOCOCOR                 int64
COD_MUNICIPIO_OCOR      int64
LINHAA                 object
LINHAB                 object
LINHAC                 object
LINHAD                 object
LINHAII                object
CAUSABAS               object
dtype: object

In [33]:
# converting the integers to datetime format
df_Mort_2019_alt['DTOBITO'] = pd.to_datetime(df_Mort_2019_alt['DTOBITO'])
df_Mort_2019_alt['DTNASC'] = pd.to_datetime(df_Mort_2019_alt['DTNASC'])  

#Types
print(df_Mort_2019_alt.dtypes)

# printing dataframe
print(df_Mort_2019_alt)

DTOBITO               datetime64[ns]
DTNASC                datetime64[ns]
SEXO                           int64
RACACOR                      float64
LOCOCOR                        int64
COD_MUNICIPIO_OCOR             int64
LINHAA                        object
LINHAB                        object
LINHAC                        object
LINHAD                        object
LINHAII                       object
CAUSABAS                      object
dtype: object
                         DTOBITO  ... CAUSABAS
0  1970-01-01 00:00:00.021012019  ...     I120
1  1970-01-01 00:00:00.028012019  ...     A419
2  1970-01-01 00:00:00.027012019  ...     E039
3  1970-01-01 00:00:00.012012019  ...     R220
4  1970-01-01 00:00:00.010012019  ...     C159
5  1970-01-01 00:00:00.024012019  ...     I219
6  1970-01-01 00:00:00.027012019  ...     I260
7  1970-01-01 00:00:00.027012019  ...     E115
8  1970-01-01 00:00:00.025012019  ...     J448
9  1970-01-01 00:00:00.025012019  ...     X680
10 1970-01-01 00:00:00.025012019  ...     V234

[11 rows x 12 columns]

In [34]:
##Análise arquivos tipos das columans da tabela
df_Mort_2019_alt.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 11 entries, 0 to 10
Data columns (total 12 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   DTOBITO             11 non-null     datetime64[ns]
 1   DTNASC              11 non-null     datetime64[ns]
 2   SEXO                11 non-null     int64
 3   RACACOR             10 non-null     float64
 4   LOCOCOR             11 non-null     int64
 5   COD_MUNICIPIO_OCOR  11 non-null     int64
 6   LINHAA              11 non-null     object
 7   LINHAB              10 non-null     object
 8   LINHAC              5 non-null      object
 9   LINHAD              2 non-null      object
 10  LINHAII             3 non-null      object
 11  CAUSABAS            11 non-null     object
dtypes: datetime64[ns](2), float64(1), int64(3), object(6)
memory usage: 1.2+ KB

In [35]:
#Análise arquivos contagem dos dados não nulos
df_Mort_2019_alt.count()

DTOBITO               11
DTNASC                11
SEXO                  11
RACACOR               10
LOCOCOR               11
COD_MUNICIPIO_OCOR    11
LINHAA                11
LINHAB                10
LINHAC                 5
LINHAD                 2
LINHAII                3
CAUSABAS              11
dtype: int64

In [36]:
#Análise arquivos dados únicos
df_Mort_2019_alt.nunique()

DTOBITO                7
DTNASC                11
SEXO                   2
RACACOR                3
LOCOCOR                3
COD_MUNICIPIO_OCOR     6
LINHAA                10
LINHAB                10
LINHAC                 4
LINHAD                 2
LINHAII                3
CAUSABAS              11
dtype: int64

In [37]:
#Análise arquivos dados nulos
df_Mort_2019_alt.isnull().sum()

DTOBITO               0
DTNASC                0
SEXO                  0
RACACOR               1
LOCOCOR               0
COD_MUNICIPIO_OCOR    0
LINHAA                0
LINHAB                1
LINHAC                6
LINHAD                9
LINHAII               8
CAUSABAS              0
dtype: int64

In [ ]:
#http://www2.datasus.gov.br/cid10/V2008/cid10.htm

df_cid = pd.read_csv('CID-10-SUBCATEGORIAS.csv',sep=';',encoding = 'ISO-8859-1')
df_cid.head()

  SUBCAT CLASSIF  ... REFER EXCLUIDOS
0   A000     NaN  ...   NaN       NaN
1   A001     NaN  ...   NaN       NaN
2   A009     NaN  ...   NaN       NaN
3   A010     NaN  ...   NaN       NaN
4   A011     NaN  ...   NaN       NaN

[5 rows x 8 columns]

In [ ]:
df_cid_alt = df_cid.drop(columns=['CLASSIF','RESTRSEXO','CAUSAOBITO','DESCRABREV','REFER','EXCLUIDOS'])
df_cid_alt.head()

  SUBCAT                                          DESCRICAO
0   A000  Cólera devida a Vibrio cholerae 01, biótipo ch...
1   A001  Cólera devida a Vibrio cholerae 01, biótipo El...
2   A009                            Cólera não especificada
3   A010                                      Febre tifóide
4   A011                                Febre paratifóide A

In [101]:
#busca a tabelas tabelas do ibge
df_ibge = pd.read_html('https://www.ibge.gov.br/explica/codigos-dos-municipios.php#MG')
len(df_ibge)
#buscar apenas Estado de Minas Gerais
df_ibge_mg = df_ibge[13]

df_ibge_mg

RemoteDisconnected: ignored

In [96]:
print(df_ibge_mg.dtypes)

Municípios de Minas Gerais    object
x                              int64
COD_MUNICIPIO_OCOR            object
CM                            object
B                             object
dtype: object

In [93]:
df_ibge_mg["COD_MUNICIPIO_OCOR"] = df_ibge_mg["Códigos"].str[0:6]

    Municípios de Minas Gerais  Códigos  x COD_MUNICIPIO_OCOR       CM       B
0          Abadia dos Dourados  3100104  0             310010  3100104  310010
1                       Abaeté  3100203  0             310020  3100203  310020
2                   Abre Campo  3100302  0             310030  3100302  310030
3                      Acaiaca  3100401  0             310040  3100401  310040
4                      Açucena  3100500  0             310050  3100500  310050
..                         ...      ... ..                ...      ...     ...
848               Virginópolis  3171808  0             317180  3171808  317180
849                Virgolândia  3171907  0             317190  3171907  317190
850     Visconde do Rio Branco  3172004  0             317200  3172004  317200
851               Volta Grande  3172103  0             317210  3172103  317210
852             Wenceslau Braz  3172202  0             317220  3172202  317220

[853 rows x 6 columns]

In [94]:
df_ibge_mg = df_ibge_mg.drop(columns=['Códigos'])
df_ibge_mg

    Municípios de Minas Gerais  x COD_MUNICIPIO_OCOR       CM       B
0          Abadia dos Dourados  0             310010  3100104  310010
1                       Abaeté  0             310020  3100203  310020
2                   Abre Campo  0             310030  3100302  310030
3                      Acaiaca  0             310040  3100401  310040
4                      Açucena  0             310050  3100500  310050
..                         ... ..                ...      ...     ...
848               Virginópolis  0             317180  3171808  317180
849                Virgolândia  0             317190  3171907  317190
850     Visconde do Rio Branco  0             317200  3172004  317200
851               Volta Grande  0             317210  3172103  317210
852             Wenceslau Braz  0             317220  3172202  317220

[853 rows x 5 columns]

In [95]:
# Realizar o merge Dataframe df_Mort_2019_alt e df_cid_alt
df_morte_2019_MG = pd.merge(df_Mort_2019_alt, df_ibge_mg, on='COD_MUNICIPIO_OCOR')

#DataFrame meger 
print(df_morte_2019_MG)

ValueError: ignored

In [84]:
fruta = "Banana"
print(len(fruta))


fruta = "Banana"
sz = len(fruta)
lastch = fruta[sz-1]
print(lastch)

6
a