<a href="https://colab.research.google.com/github/drianc/TCC-PUC-MINAS/blob/main/TCC_Ciencia_Dados_PUC_Minas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Apresentação 

PUC Minas - Pontifícia Universidade Católica de Minas Gerais

Pós-Graduação em Ciência de Dados e Big Data

Trabalho de Conclusão de Curso

Notebook desenvolvido no ambiente GOOBLE COLAB (colab.research.google.com)

Aluna: Adriana Cardoso
Matricula :1135484

## Processamento e Tratamento dos Dados

In [1]:
#import das bibliotecas
import pandas as pd
import datetime as dt
import numpy as np

In [6]:
#Sistema de Informação sobre Mortalidade – SIM (1979 a 2019)
#Fonte: Sistema de Informação sobre Mortalidade – SIM (1979 a 2019)
      
df_Mort_2019 = pd.read_csv('https://s3-sa-east-1.amazonaws.com/ckan.saude.gov.br/SIM/Mortalidade_Geral_2019.csv',sep=';',quoting=3)

df_Mort_2019.iloc[:,0] = df_Mort_2019.iloc[:,0].str.strip('"')
df_Mort_2019.iloc[:,-1] = df_Mort_2019.iloc[:,-1].str.strip('"')
#strip " from columns names
df_Mort_2019.columns = df_Mort_2019.columns.str.strip('"')

/usr/local/lib/python3.7/dist-packages/IPython/core/interactiveshell.py:2718: DtypeWarning: Columns (37,38,66) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [38]:
#Verificação dos registros do Dataframe e contagem dos dados do Dataframe de 2019
df_Mort_2019.shape

(1349801, 87)

In [ ]:
df_Mort_2019.head(5)

In [9]:
#retirada de campos que não serão objeto deste estudo
df_Mort_2019_alt = df_Mort_2019.drop(columns=['ORIGEM','ESC','HORAOBITO','ESC2010','SERIESCFAL','IDADEMAE','ESCMAE','ESCMAE2010','SERIESCMAE','OCUPMAE','QTDFILVIVO',
                                              'QTDFILMORT','GRAVIDEZ','SEMAGESTAC','GESTACAO','OBITOPARTO','PESO','TPMORTEOCO','OBITOGRAV','OBITOPUERP',
                                              'ASSISTMED','EXAME','CIRURGIA','CB_PRE','COMUNSVOIM','ACIDTRAB','FONTE','NUMEROLOTE','TPPOS',
                                              'DTINVESTIG','ATESTANTE','STCODIFICA','CODIFICADO','VERSAOSIST','VERSAOSCB','FONTEINV','DTRECEBIM','ATESTADO',
                                              'DTRECORIGA','CAUSAMAT','ESCMAEAGR1','ESCFALAGR1','STDOEPIDEM','STDONOVA','DIFDATA','NUDIASOBCO','NUDIASOBIN',
                                              'DTCADINV','TPOBITOCOR','IDADE','DTCADASTRO','DTATESTADO','ALTCAUSA','DTCONINV',
                                              'FONTES','TPRESGINFO','TPNIVELINV','NUDIASINF','DTCADINF','MORTEPARTO','DTCONCASO','FONTESINF',
                                              'CONTADOR','PARTO','NECROPSIA','ESTABDESCR','CODMUNNATU','NATURAL','ESTCIV','CODESTAB','CODMUNRES'])
#retirar as aspas dos  campos que serão trabalhados
df_Mort_2019_alt.TIPOBITO= df_Mort_2019_alt.TIPOBITO.str.replace('"','')
df_Mort_2019_alt.DTOBITO= df_Mort_2019_alt.DTOBITO.str.replace('"','')
df_Mort_2019_alt.CIRCOBITO= df_Mort_2019_alt.CIRCOBITO.str.replace('"','')
df_Mort_2019_alt.OCUP= df_Mort_2019_alt.OCUP.str.replace('"','')
df_Mort_2019_alt.DTNASC = df_Mort_2019_alt.DTNASC.str.replace('"','')
df_Mort_2019_alt.SEXO = df_Mort_2019_alt.SEXO.str.replace('"','')
df_Mort_2019_alt.RACACOR = df_Mort_2019_alt.RACACOR.str.replace('"','')
df_Mort_2019_alt.LOCOCOR = df_Mort_2019_alt.LOCOCOR.str.replace('"','')
df_Mort_2019_alt.CODMUNOCOR = df_Mort_2019_alt.CODMUNOCOR.str.replace('"','')
df_Mort_2019_alt.LINHAA = df_Mort_2019_alt.LINHAA.str.replace('"','')
df_Mort_2019_alt.LINHAB = df_Mort_2019_alt.LINHAB.str.replace('"','')
df_Mort_2019_alt.LINHAC = df_Mort_2019_alt.LINHAC.str.replace('"','')
df_Mort_2019_alt.LINHAD = df_Mort_2019_alt.LINHAD.str.replace('"','')
df_Mort_2019_alt.LINHAII = df_Mort_2019_alt.LINHAII.str.replace('"','')
df_Mort_2019_alt.CAUSABAS = df_Mort_2019_alt.CAUSABAS.str.replace('"','')
df_Mort_2019_alt.CAUSABAS_O = df_Mort_2019_alt.CAUSABAS_O.str.replace('"','')

In [ ]:
df_Mort_2019_alt.head(5)

In [11]:
# Base de Registros de 2020 - Preliminar - (podendo sobre alterações conforme Portaria nº 116/2009.)
#https://opendatasus.saude.gov.br/dataset/57c4b23e-6ffa-43ef-a1e7-23103f73f376/resource/8d947ac1-addb-49f2-85ab-824a7408a432/download/dobrano_.csv

df_Mort_2020 = pd.read_csv('https://opendatasus.saude.gov.br/dataset/57c4b23e-6ffa-43ef-a1e7-23103f73f376/resource/8d947ac1-addb-49f2-85ab-824a7408a432/download/dobrano_.csv',sep=';',quoting=3)
df_Mort_2020.iloc[:,0] = df_Mort_2020.iloc[:,0].str.strip('"')
df_Mort_2020.iloc[:,-1] = df_Mort_2020.iloc[:,-1].str.strip('"')
#strip " from columns names
df_Mort_2020.columns = df_Mort_2020.columns.str.strip('"')

/usr/local/lib/python3.7/dist-packages/IPython/core/interactiveshell.py:2718: DtypeWarning: Columns (37,38,65,71,72,73,74,76,77,82,83) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [39]:
#Verificação dos registros do Dataframe e contagem dos dados do Dataframe de 2020
df_Mort_2020.shape

(1581645, 86)

In [ ]:
df_Mort_2020.head(5)

In [15]:
#retirada de campos que não serão objeto deste estudo
df_Mort_2020_alt= df_Mort_2020.drop(columns=['contador', 'ORIGEM','HORAOBITO','NATURAL',
       'CODMUNNATU', 'IDADE', 'ESTCIV', 'ESC',
       'ESC2010', 'SERIESCFAL', 'CODMUNRES', 'CODESTAB',
       'IDADEMAE', 'ESCMAE', 'ESCMAE2010', 'SERIESCMAE',
       'OCUPMAE', 'QTDFILVIVO', 'QTDFILMORT', 'GRAVIDEZ', 'SEMAGESTAC',
       'GESTACAO', 'PARTO', 'OBITOPARTO', 'PESO', 'TPMORTEOCO', 'OBITOGRAV',
       'OBITOPUERP', 'ASSISTMED', 'EXAME', 'CIRURGIA', 'NECROPSIA','CB_PRE',
       'COMUNSVOIM', 'DTATESTADO','ACIDTRAB', 'FONTE',
       'NUMEROLOTE', 'DTINVESTIG', 'DTCADASTRO', 'ATESTANTE', 'STCODIFICA',
       'CODIFICADO', 'VERSAOSIST', 'VERSAOSCB', 'FONTEINV', 'DTRECEBIM',
       'ATESTADO', 'DTRECORIGA', 'OPOR_DO', 'CAUSAMAT', 'ESCMAEAGR1',
       'ESCFALAGR1', 'STDOEPIDEM', 'STDONOVA', 'DIFDATA', 'NUDIASOBCO',
       'DTCADINV', 'TPOBITOCOR', 'DTCONINV', 'FONTES', 'TPRESGINFO',
       'TPNIVELINV', 'DTCADINF', 'MORTEPARTO', 'DTCONCASO', 'ALTCAUSA',
       'TPPOS', 'TP_ALTERA', 'CB_ALT'])

In [16]:
#retirar as aspas dos  campos que serão trabalhados
df_Mort_2020_alt.TIPOBITO= df_Mort_2020_alt.TIPOBITO.str.replace('"','')
df_Mort_2020_alt.DTOBITO= df_Mort_2020_alt.DTOBITO.str.replace('"','')
df_Mort_2020_alt.CIRCOBITO= df_Mort_2020_alt.CIRCOBITO.str.replace('"','')
df_Mort_2020_alt.OCUP= df_Mort_2020_alt.OCUP.str.replace('"','')
df_Mort_2020_alt.DTNASC = df_Mort_2020_alt.DTNASC.str.replace('"','')
df_Mort_2020_alt.SEXO = df_Mort_2020_alt.SEXO.str.replace('"','')
df_Mort_2020_alt.RACACOR = df_Mort_2020_alt.RACACOR.str.replace('"','')
df_Mort_2020_alt.LOCOCOR = df_Mort_2020_alt.LOCOCOR.str.replace('"','')
df_Mort_2020_alt.CODMUNOCOR = df_Mort_2020_alt.CODMUNOCOR.str.replace('"','')
df_Mort_2020_alt.LINHAA = df_Mort_2020_alt.LINHAA.str.replace('"','')
df_Mort_2020_alt.LINHAB = df_Mort_2020_alt.LINHAB.str.replace('"','')
df_Mort_2020_alt.LINHAC = df_Mort_2020_alt.LINHAC.str.replace('"','')
df_Mort_2020_alt.LINHAD = df_Mort_2020_alt.LINHAD.str.replace('"','')
df_Mort_2020_alt.LINHAII = df_Mort_2020_alt.LINHAII.str.replace('"','')
df_Mort_2020_alt.CAUSABAS = df_Mort_2020_alt.CAUSABAS.str.replace('"','')
df_Mort_2020_alt.CAUSABAS_O = df_Mort_2020_alt.CAUSABAS_O.str.replace('"','')

In [ ]:
df_Mort_2020_alt.head(5)

In [18]:
#junção dos dois dataframe
df_Mortes= pd.concat([df_Mort_2019_alt,df_Mort_2020_alt],ignore_index=True)

In [19]:
df_Mortes.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2931446 entries, 0 to 2931445
Data columns (total 16 columns):
 #   Column      Dtype
---  ------      -----
 0   TIPOBITO    object
 1   DTOBITO     object
 2   DTNASC      object
 3   SEXO        object
 4   RACACOR     object
 5   OCUP        object
 6   LOCOCOR     object
 7   CODMUNOCOR  object
 8   LINHAA      object
 9   LINHAB      object
 10  LINHAC      object
 11  LINHAD      object
 12  LINHAII     object
 13  CAUSABAS    object
 14  CIRCOBITO   object
 15  CAUSABAS_O  object
dtypes: object(16)
memory usage: 357.8+ MB

In [40]:
df_Mortes.shape

(2931446, 17)

In [20]:
#tratamento dos campos de data
df_Mortes.DTOBITO = pd.to_datetime(df_Mortes.DTOBITO,format='%d%m%Y',utc=False)
df_Mortes['DTNASC']=pd.to_datetime(df_Mortes['DTNASC'].astype(str), format='%d%m%Y',errors='coerce')

In [ ]:
df_Mortes.head(5)

In [23]:
#retirada do caracter * (esse caracter significa que a causa da morte difere entre masculino ou feminino, não será considerado nesse estudo)
df_Mortes.LINHAA = df_Mortes.LINHAA.str.replace('*','/')
df_Mortes.LINHAB = df_Mortes.LINHAB.str.replace('*','/')
df_Mortes.LINHAC = df_Mortes.LINHAC.str.replace('*','/')
df_Mortes.LINHAD = df_Mortes.LINHAD.str.replace('*','/')
df_Mortes.LINHAII = df_Mortes.LINHAII.str.replace('*','/')

In [24]:
# splitting at occurrence of whitespace
df_Mortes['LINHAA']= df_Mortes['LINHAA'].str.split('/')
df_Mortes['LINHAB']= df_Mortes['LINHAB'].str.split('/')
df_Mortes['LINHAC']= df_Mortes['LINHAC'].str.split('/')
df_Mortes['LINHAD']= df_Mortes['LINHAD'].str.split('/')
df_Mortes['LINHAII']= df_Mortes['LINHAII'].str.split('/')

In [25]:
# displaying second element from list (será considerado apenas a primeira causa descrita em cada campo)
df_Mortes['LINHAA']= df_Mortes['LINHAA'].str.get(1)
df_Mortes['LINHAB']= df_Mortes['LINHAB'].str.get(1)
df_Mortes['LINHAC']= df_Mortes['LINHAC'].str.get(1)
df_Mortes['LINHAD']= df_Mortes['LINHAD'].str.get(1)
df_Mortes['LINHAII']= df_Mortes['LINHAII'].str.get(1)

In [ ]:
df_Mortes.head(5)

In [29]:
#calcular idade 

df_Mortes['DTOBITO'] = pd.to_datetime(df_Mortes['DTOBITO'], format='%Y/%m/%d')
df_Mortes['DTNASC'] = pd.to_datetime(df_Mortes['DTNASC'], format='%Y/%m/%d')

df_Mortes['IDADE'] = df_Mortes['DTOBITO'] - df_Mortes['DTNASC']
df_Mortes['IDADE']=df_Mortes['IDADE']/np.timedelta64(1,'Y')
df_Mortes['IDADE']= round(df_Mortes['IDADE']- 0.5,ndigits=0)
df_Mortes['IDADE']= df_Mortes['IDADE'].astype("Int64")

In [30]:
df_Mortes.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2931446 entries, 0 to 2931445
Data columns (total 17 columns):
 #   Column      Dtype
---  ------      -----
 0   TIPOBITO    object
 1   DTOBITO     datetime64[ns]
 2   DTNASC      datetime64[ns]
 3   SEXO        object
 4   RACACOR     object
 5   OCUP        object
 6   LOCOCOR     object
 7   CODMUNOCOR  object
 8   LINHAA      object
 9   LINHAB      object
 10  LINHAC      object
 11  LINHAD      object
 12  LINHAII     object
 13  CAUSABAS    object
 14  CIRCOBITO   object
 15  CAUSABAS_O  object
 16  IDADE       Int64
dtypes: Int64(1), datetime64[ns](2), object(14)
memory usage: 383.0+ MB

In [31]:
df_Mortes.head(5)

  TIPOBITO    DTOBITO     DTNASC SEXO  ... CAUSABAS CIRCOBITO CAUSABAS_O IDADE
0        2 2019-01-21 1961-02-18    1  ...     I120       NaN       I120    57
1        2 2019-01-28 1938-07-03    2  ...     A419       NaN       A419    80
2        2 2019-01-27 1945-11-15    2  ...     E039       NaN       E039    73
3        2 2019-01-12 1971-11-04    1  ...     R220       NaN       R220    47
4        2 2019-01-10 1946-10-12    2  ...     C159       NaN       C159    72

[5 rows x 17 columns]

In [32]:
#df_Mortes.to_csv('base_dados_completo.csv',sep=';',encoding = 'ISO-8859-1')

In [33]:
df_mortes_original = pd.read_csv('base_dados_completo.csv',sep=';',encoding = 'ISO-8859-1')

In [ ]:
df_mortes_original.shape

In [ ]:
df_mortes_original.count()

In [ ]:
df_mortes_original.nunique()

In [34]:
df_mortes_original.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2931446 entries, 0 to 2931445
Data columns (total 18 columns):
 #   Column      Dtype
---  ------      -----
 0   Unnamed: 0  int64
 1   TIPOBITO    int64
 2   DTOBITO     object
 3   DTNASC      object
 4   SEXO        int64
 5   RACACOR     float64
 6   OCUP        float64
 7   LOCOCOR     int64
 8   CODMUNOCOR  int64
 9   LINHAA      object
 10  LINHAB      object
 11  LINHAC      object
 12  LINHAD      object
 13  LINHAII     object
 14  CAUSABAS    object
 15  CIRCOBITO   float64
 16  CAUSABAS_O  object
 17  IDADE       float64
dtypes: float64(4), int64(5), object(9)
memory usage: 402.6+ MB

In [35]:
df_mortes_original.head(5)

   Unnamed: 0  TIPOBITO     DTOBITO  ... CIRCOBITO  CAUSABAS_O  IDADE
0           0         2  2019-01-21  ...       NaN        I120   57.0
1           1         2  2019-01-28  ...       NaN        A419   80.0
2           2         2  2019-01-27  ...       NaN        E039   73.0
3           3         2  2019-01-12  ...       NaN        R220   47.0
4           4         2  2019-01-10  ...       NaN        C159   72.0

[5 rows x 18 columns]

In [43]:
df_mortes_original.isnull().sum()

Unnamed: 0          0
TIPOBITO            0
DTOBITO             0
DTNASC          36524
SEXO                0
RACACOR        104473
OCUP           494292
LOCOCOR             0
CODMUNOCOR          0
LINHAA         104619
LINHAB         732365
LINHAC        1590145
LINHAD        2368684
LINHAII       1793853
CAUSABAS            0
CIRCOBITO     2644913
CAUSABAS_O       4782
IDADE           36524
dtype: int64

In [44]:
df_mortes_original.fillna(0,inplace=True)

In [45]:
df_mortes_original['IDADE'] = df_mortes_original['IDADE'].apply(np.int64)
df_mortes_original['RACACOR'] = df_mortes_original['RACACOR'].apply(np.int64)
df_mortes_original['OCUP'] = df_mortes_original['OCUP'].apply(np.int64)
df_mortes_original['CIRCOBITO'] = df_mortes_original['CIRCOBITO'].apply(np.int64)

In [53]:
df_mortes_original.head(5)

   Unnamed: 0  TIPOBITO     DTOBITO  ... CAUSABAS_O  IDADE  IRACACOR
0           0         2  2019-01-21  ...       I120     57         2
1           1         2  2019-01-28  ...       A419     80         0
2           2         2  2019-01-27  ...       E039     73         4
3           3         2  2019-01-12  ...       R220     47         4
4           4         2  2019-01-10  ...       C159     72         4

[5 rows x 19 columns]

In [ ]:
df_mortes_original.isnull().sum()

In [ ]:
#http://www2.datasus.gov.br/cid10/V2008/cid10.htm

df_cid = pd.read_csv('CID-10-SUBCATEGORIAS.csv',sep=';',encoding = 'ISO-8859-1')
df_cid.head()

In [ ]:
df_cid_alt = df_cid.drop(columns=['CLASSIF','RESTRSEXO','CAUSAOBITO','DESCRABREV','REFER','EXCLUIDOS'])
df_cid_alt.head()

In [ ]:
#Merge dos obitos e da causa base da morte
#df_Mort_2019_alt_2 = pd.merge(df_Mort_2019_alt,df_cid_alt, on ='SUBCAT')
#df_Mort_2019_alt_2.head()

In [ ]:
#busca a tabelas tabelas do ibge
#df_ibge = pd.read_html('https://www.ibge.gov.br/explica/codigos-dos-municipios.php#MG')
df_ibge = pd.read_csv('tabela_ibge.csv',sep=';',encoding = 'ISO-8859-1')
df_ibge.head()

In [ ]:
df_ibge = df_ibge.drop(columns=['uf','nm_uf', 'cd_municipio_compl', 'nm_municipio'])
df_ibge.rename(columns={'cd_municipio_base':'COD_MUNICIPIO_OCOR'}, inplace=True)
df_ibge.rename(columns={'sgl_uf':'UF'}, inplace=True)

df_ibge['COD_MUNICIPIO_OCOR'] = df_ibge['COD_MUNICIPIO_OCOR'].astype(str)

In [ ]:
# Realizar o merge Dataframe df_Mortes e df_cid_alt
df_Mortes= pd.merge(df_Mortes, df_ibge, on=['COD_MUNICIPIO_OCOR'])

df_Mortes.head()
print(df_Mortes.dtypes)

In [ ]:
#Nomes das colunas utilizadas são diferentes, indicar o nome que a coluna coincidente possui na tabela da esquerda com o LEFT_ON e o nome que ela possui na tabela da direita com o RIGHT_ON, ao invés de utilizar somente o ON.
#df_teste = df_Mort_2019_alt.drop(columns=['DTOBITO','DTNASC','SEXO','RACACOR','LOCOCOR','COD_MUNICIPIO_OCOR','IDADE'])

df_Mort_2019_alt  = pd.merge(df_Mort_2019_alt,df_cid_alt, right_on=['SUBCAT'], left_on=['LINHAA'])
#df_teste = pd.merge(df_teste,df_cid_alt, right_on=['SUBCAT'], left_on=['LINHAB'])
#df_teste = pd.merge(df_teste,df_cid_alt, right_on=['SUBCAT'], left_on=['LINHAC'])
#df_teste = pd.merge(df_teste,df_cid_alt, right_on=['SUBCAT'], left_on=['LINHAD'])
#df_teste = pd.merge(df_teste,df_cid_alt, right_on=['SUBCAT'], left_on=['LINHAII'])
df_Mort_2019_alt = pd.merge(df_Mort_2019_alt,df_cid_alt, right_on=['SUBCAT'], left_on=['CAUSABAS'])

df_Mort_2019_alt.head()